<template>
    <Header title="Lecture: add" v-if="!isAdminPanelCaller"/>

    <div class="form__container" v-if="parents.length > 0" :class="!isAdminPanelCaller ? 'form__container--with-header' : ''">
        <p class="form__title">New lecture</p>
        <form class="form" @submit.prevent="handlerSubmit">
            <div class="form__items">
                <div class="form__item">
                    <label for="title" class="form__item-label">Title</label>
                    <input
                            type="text"
                            id="title"
                            name="title"
                            v-model="lectureData.title"
                            class="form__item-field"
                            required="required"
                            autocomplete="off"
                    />
                </div>
                <div class="form__item">
                    <label for="material" class="form__item-label">Material</label>
                    <textarea
                            id="material"
                            class="form__item-field"
                            name="material"
                            v-model="lectureData.material"
                            required="required"
                            autocomplete="off"
                    ></textarea>
                </div>
                <div class="form__item" v-if="!isRootElement">
                    <label for="parent" class="form__item-label">
                        Parent{{isRootElement ? `: ${lectureData.parent.name}` : ''}}
                    </label>
                    <select
                            class="form__item-field"
                            id="parent"
                            name="parent"
                            v-model="lectureData.parent"
                            v-if="!isRootElement"
                    >
                        <option
                                :v-model="parents"
                                v-bind:value="parent"
                                v-for="(parent, key) in parents"
                                :key="key"
                        >
                            {{parent.title}}
                        </option>
                    </select>
                </div>
                <div class="buttons-container">
                    <button class="btn-create" type="submit">Create</button>
                    <button class="btn-back" type="button" @click="handlerCancelClick">Cancel</button>
                </div>
            </div>
        </form>
        <Error v-if="error" :message="error"/>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';
    import {defineAsyncComponent} from 'vue';

    export default {
        name: "LectureAdd",
        components: {
            Header: defineAsyncComponent(() => import('../../components/Header.vue')),
            Error: defineAsyncComponent(() => import('../../components/Error.vue')),
        },
        data: () => ({
            isAdminPanelCaller: false,
            isUpdating: false,
            isRootElement: false,
            lectureData: {
                title: '',
                material: '',

                parent: {}
            },
            parents: [],
            error: null
        }),
        computed: {
            ...mapGetters({
                lecture: 'lecture', fetchLectureError: 'fetchLectureError',
                lectures: 'lectures', fetchLecturesError: 'fetchLecturesError',
                subject: 'subject', fetchSubjectError: 'fetchSubjectError',
                updateLectureError: 'updateLectureError',
                updateSubjectError: 'updateSubjectError',
                createLectureError: 'createLectureError',
                createdLecture: 'createdLecture',
            }),
        },
        methods: {
            ...mapActions({
                fetchLecture: 'fetchLecture',
                fetchLectures: 'fetchLectures',
                fetchSubject: 'fetchSubject',
                updateLecture: 'updateLecture',
                updateSubject: 'updateSubject',
                createLecture: 'createLecture'
            }),
            handlerCancelClick() {
                this.$router.back();
            },
            async handlerSubmit() {
                this.isUpdating = true;

                if (this.isRootElement) {
                    await this.createLecture({
                        ...this.lectureData,
                        parentId: this.lectureData.parent._id
                    });
                    await this.updateSubject({
                        id: this.lectureData.parent._id,
                        payload: {
                            ...this.subject,
                            child: [{
                                type: 'lecture',
                                id: this.createdLecture._id
                            }]
                        }
                    })
                } else {
                    await this.createLecture({
                        ...this.lectureData,
                        parentId:
                            this.lectureData.parent === null
                                ? null
                                : this.lectureData.parent._id
                    });

                    if (this.lectureData.parent !== null) {
                        const lectureParent = await this.lectures.find(
                            lecture => lecture._id === this.lectureData.parent._id
                        );
                        const newChild = [
                            ...lectureParent.child, {
                                type: 'lecture',
                                id: this.createdLecture._id
                            }
                        ];

                        await this.updateLecture({
                            id: lectureParent._id,
                            payload: {
                                ...lectureParent,
                                child: newChild
                            }
                        });
                    }
                }

                if (!this.error) {
                    this.$router.back();
                }
            }
        },
        async mounted() {
            await this.fetchLectures();
            this.error = this.fetchLecturesError;

            this.parents = this.lectures;
            this.isAdminPanelCaller = this.$route.params.caller === 'admin-panel';

            if (this.isAdminPanelCaller) {
                this.lectureData.parent = null;
                return;
            }

            if (this.$route.params.rootId) {
                const parentId = this.$route.params.rootId;
                await this.fetchSubject(parentId);
                this.error = this.fetchSubjectError;

                this.isRootElement = true;
                this.lectureData.parent = this.subject;
            } else {
                const parentId = this.$route.params.id;
                await this.fetchLecture(parentId);
                this.error = this.fetchLectureError;

                this.lectureData.parent = this.lecture;
            }
        },
    }
</script>

<style lang="scss" scoped>
    @import "../../assets/styles/main";
    @import "../../assets/styles/buttons";
    @import "../../assets/styles/forms";
</style>