<template>
    <Header title="Lecture: edit" v-if="!isAdminPanelCaller"/>

    <div v-if="lecture">
        <div class="form__container" :class="!isAdminPanelCaller ? 'form__container--with-header' : ''">
            <p class="form__title">Edit Lecture</p>
            <form class="form" @submit.prevent="onSubmit">
                <div class="form__items">
                    <div class="form__item">
                        <label class="form__item-label">ID: {{lecture._id}}</label>
                    </div>
                    <div class="form__item">
                        <label class="form__item-label" for="title">Title</label>
                        <input class="form__item-field" type="text" id="title" name="title" v-model="lectureData.title"/>
                    </div>
                    <div class="form__item">
                        <label class="form__item-label" for="material">Material</label>
                        <textarea class="form__item-field" id="material" name="material" v-model="lectureData.material"></textarea>
                    </div>
                    <div class="form__item">
                        <label class="form__item-label" for="parent">Parent</label>
                        <select class="form__item-field" id="parent" name="parent" v-model="lectureData.parent">
                            <option
                                    :v-model="parents"
                                    v-bind:value="parent"
                                    v-for="(parent, key) in parents"
                                    :key="key"
                            >
                                {{parent.title}}
                            </option>
                        </select>
                    </div>
                    <div class="form__item" v-if="lectureChild">
                        <label class="form__item-label" for="child">Child{{lectureChild.length === 0 ? ': none' : ''}}</label>
                        <ul class="form__item-field form__list" id="child" v-if="lectureChild.length > 0">
                            <li v-for="(children, key) in lectureChild" :key="key" class="form__list-item">
                                {{children.title}} (ID: {{children._id}})
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="buttons-container">
                    <button class="btn-save" type="submit">Save</button>
                    <button class="btn-back" type="button" @click="handlerCancelClick">Cancel</button>
                </div>
            </form>
        </div>
        <p v-if="isUpdating">Updating...</p>
        <Error v-if="error" :message="error"/>
    </div>
    <div v-else>Loading...</div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';
    import {defineAsyncComponent} from 'vue'

    export default {
        name: "LectureEdit",
        props: {},
        data: () => ({
            isAdminPanelCaller: false,
            isUpdating: false,
            lectureData: {
                title: '',
                material: '',

                parent: {}
            },
            parents: [],
            error: null
        }),
        components: {
            Header: defineAsyncComponent(() => import('../../components/Header.vue')),
            Error: defineAsyncComponent(() => import('../../components/Error.vue')),
        },
        computed: {
            ...mapGetters({
                lecture: 'lecture', fetchLectureError: 'fetchLectureError',
                lectures: 'lectures', fetchLecturesError: 'fetchLecturesError',
                lectureChild: 'lectureChild', fetchLectureChildError: 'fetchLectureChildError',
                updateLectureError: 'updateLectureError'
            }),
        },
        methods: {
            ...mapActions({
                fetchLecture: 'fetchLecture',
                fetchLectures: 'fetchLectures',
                fetchLectureChild: 'fetchLectureChild',
                updateLecture: 'updateLecture',
            }),
            async onSubmit() {
                this.isUpdating = true;

                if (this.lectureData.parent && this.lectureData.parent._id !== this.lecture.parentId) {
                    const newParent = await this.lectures.find(
                        lecture => lecture._id === this.lectureData.parent._id
                    );

                    const newChild = [
                        ...newParent.child, {
                            type: 'lecture',
                            id: this.lecture._id
                        }
                    ];

                    await this.updateLecture({
                        id: newParent._id,
                        payload: {
                            ...newParent,
                            child: newChild
                        }
                    });

                    const oldParent = await this.lectures.find(
                        lecture => lecture._id === this.lecture.parentId
                    );

                    if (oldParent !== undefined) {
                        oldParent.child = oldParent.child.filter(
                            children => children.id !== this.lecture._id
                        );

                        await this.updateLecture({
                            id: oldParent._id,
                            payload: oldParent
                        });
                    }
                }

                await this.updateLecture({
                    id: this.lecture._id,
                    payload: {
                        ...this.lectureData,
                        parentId: this.lectureData.parent ? this.lectureData.parent._id : null
                    }
                });

                this.isUpdating = false;
                this.error = this.updateLectureError;

                if (!this.error) {
                    this.$router.back();
                }
            },
            handlerCancelClick() {
                this.$router.back();
            }
        },
        async mounted() {
            const lectureId = this.$route.params.id;
            await this.fetchLecture(lectureId);
            await this.fetchLectureChild(lectureId);
            await this.fetchLectures();

            if (this.fetchLectureError !== null || this.fetchLectureChildError !== null || this.fetchLecturesError !== null) {
                this.error = this.fetchLectureError;
            }

            const caller = this.$route.params.caller;
            this.isAdminPanelCaller = caller && caller === 'admin-panel';

            this.lectureData = {
                title: this.lecture.title,
                material: this.lecture.material,
                parent: await this.lectures.find(lecture => lecture._id === this.lecture.parentId)
            };

            this.parents = this.lectures.filter(
                lecture => lecture._id !== this.lecture._id
            );
        },
    }
</script>

<style lang="scss" scoped>
    @import "../../assets/styles/main";
    @import "../../assets/styles/buttons";
    @import "../../assets/styles/forms";
</style>