<template>
    <div v-if="lecture" class="full-screen">
        <Header :title="`Lecture: ${lecture.title}`"/>
        <div class="lecture">
            <p class="lecture__material">{{lecture.material}}</p>

            <div class="buttons-container">
                <button class="btn-finish" v-if="user && !isCompleted" @click="handlerFinishClick">Finish</button>
                <button class="btn-back" v-else @click="handlerBackClick">Back</button>
            </div>
        </div>

        <Error v-if="error" :message="error"/>
    </div>
    <div v-else>Loading...</div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';
    import {defineAsyncComponent} from 'vue'

    export default {
        name: "Lecture",
        components: {
            Header: defineAsyncComponent(() => import('../../components/Header.vue')),
            Error: defineAsyncComponent(() => import('../../components/Error.vue')),
        },
        computed: {
            ...mapGetters({
                lecture: 'lecture', fetchLectureError: 'fetchLectureError',
                updateCompletedStagesError: 'updateCompletedStagesError'
            }),
        },
        data: () => ({
            isCompleted: false,
            error: null,
            user: null,
        }),
        methods: {
            ...mapActions({
                fetchLecture: 'fetchLecture',
                updateCompletedStages: 'updateCompletedStages'
            }),
            handlerBackClick() {
                this.$router.back();
            },
            async handlerFinishClick() {
                await this.updateCompletedStages(this.$route.params.id);
                this.error = this.updateCompletedStagesError;

                if (!this.updateCompletedStagesError) {
                    this.$router.back();
                }
            }
        },
        async mounted() {
            const lectureId = this.$route.params.id;
            await this.fetchLecture(lectureId);
            this.error = this.fetchLectureError;

            this.isCompleted = !!this.$route.params.isCompleted;
            this.user = localStorage.getItem('user');
        },
    }
</script>

<style lang="scss" scoped>
    @import '../../assets/styles/colors';
    @import '../../assets/styles/utils';
    @import '../../assets/styles/buttons';
    @import '../../assets/styles/main';

    .lecture {
        width: 80vw;
        max-height: 80vh;
        margin: 4vh auto;
        padding: 2vh 2vw;

        box-shadow: 0 0 5px $papaya;
        border-radius: 10px;
        overflow-y: scroll;

        &__material {
            margin-bottom: 3vh;
        }
    }
</style>