<template>
    <div class="info-container full-screen">
        <p class="info-header">Lecture Information</p>
        <div class="info-items" v-if="lecture._id">
            <div class="info-item">
                <div class="info-item-name">
                    <span>ID</span>
                </div>
                <div class="info-item-value">
                    <span>{{lecture._id}}</span>
                </div>
            </div>
            <div class="info-item">
                <div class="info-item-name">
                    <span>Title</span>
                </div>
                <div class="info-item-value">
                    <span>{{lecture.title}}</span>
                </div>
            </div>
            <div class="info-item">
                <div class="info-item-name">
                    <span>Material</span>
                </div>
                <div class="info-item-value">
                    <span>{{lecture.material}}</span>
                </div>
            </div>
            <div class="info-item">
                <div class="info-item-name">
                    <span>Parent ID</span>
                </div>
                <div class="info-item-value">
                    <span>{{lecture.parentId}}</span>
                </div>
            </div>
            <div class="info-item">
                <div class="info-item-name">
                    <span>Child</span>
                </div>
                <div class="info-item-value">
                    <ul>
                        <li
                                v-for="(children, key) in lecture.child"
                                :key="key"
                        >
                            {{children.type}} {{children.id}}
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <button class="btn-back" @click="handlerBackClick">Back</button>
        <Error v-if="error" :message="error"/>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import {defineAsyncComponent} from 'vue'
    
    export default {
        name: "LectureView",
        computed: {
            ...mapGetters({
                lecture: 'lecture',
                fetchLectureError: 'fetchLectureError'
            }),
        },
        components: {
            Error: defineAsyncComponent(() => import('../../components/Error.vue')),
        },
        data: () => ({
            error: null,
        }),
        methods: {
            ...mapActions({
                fetchLecture: 'fetchLecture',
            }),
            handlerBackClick() {
                this.$router.back();
            }
        },
        async mounted() {
            const lectureId = this.$route.params.id;
            await this.fetchLecture(lectureId);
            this.error = this.fetchLectureError;
        },
    }
</script>

<style lang="scss" scoped>
    @import "../../assets/styles/utils";
    @import "../../assets/styles/colors";
    @import "../../assets/styles/main";
    @import "../../assets/styles/info";
    @import "../../assets/styles/buttons";
</style>