<template>
    <div class="form__container">
        <p class="form__title">New subject</p>
        <form class="form" @submit.prevent="handlerSubmit">
            <div class="form__items">
                <div class="form__item">
                    <label class="form__item-label" for="name">Name</label>
                    <input
                            class="form__item-field"
                            type="text"
                            id="name"
                            autocomplete="off"
                            v-model="subjectData.name"
                            required="required"
                    />
                </div>
                <div class="form__item">
                    <label for="description" class="form__item-label">Description</label>
                    <textarea
                            class="form__item-field"
                            id="description"
                            name="description"
                            v-model="subjectData.description"
                            required="required"
                    ></textarea>
                </div>
                <div class="form__item">
                    <label for="author" class="form__item-label">Author</label>
                    <select
                            class="form__item-field"
                            id="author"
                            name="author"
                            v-model="subjectData.author"
                            required="required"
                    >
                        <option
                                :v-model="authors"
                                :value="author"
                                v-for="(author, key) in authors"
                                :key="key"
                        >
                            {{author.nickname}}
                        </option>
                    </select>
                </div>
                <div class="form__item">
                    <label class="form__item-label" for="root">Root child</label>
                    <div class="tabs">
                        <div
                                class="tab"
                                :class="(selectedTab === 0 ? 'tab--selected' : '') + (freeLectures.length === 0 ? 'tab--disabled' : '')"
                                @click="freeLectures.length > 0 ? handlerTabClick(0) : ''"
                        >
                            <span>Existing ({{freeLectures.length}} items)</span>
                        </div>
                        <div
                                class="tab"
                                :class="selectedTab === 1 ? 'tab--selected' : ''"
                                @click="handlerTabClick(1)"
                        >
                            <span>New</span>
                        </div>
                    </div>
                    <div class="tab-content" v-if="selectedTab === 0">
                        <select
                                class="form__item-field"
                                id="root"
                                name="root"
                                v-model="subjectData.rootChildren"
                        >
                            <option
                                    :v-model="freeLectures"
                                    :value="freeLecture"
                                    v-for="(freeLecture, key) in freeLectures"
                                    :key="key"
                            >
                                {{freeLecture.title}} (ID: {{freeLecture._id}})
                            </option>
                        </select>
                    </div>
                    <div class="tabContent" v-else>
                        <div class="form__item">
                            <label class="form__item-label" for="title">Title</label>
                            <input
                                    class="form__item-field"
                                    type="text"
                                    id="title"
                                    name="title"
                                    v-model="lectureData.title"
                                    autocomplete="off"
                                    required="required"
                            />
                        </div>
                        <div class="form__item">
                            <label class="form__item-label" for="material">Material</label>
                            <textarea
                                    class="form__item-field"
                                    id="material"
                                    name="material"
                                    v-model="lectureData.material"
                                    required="required"
                            ></textarea>
                        </div>
                    </div>
                </div>
                <div class="buttons-container">
                    <button class="btn-create" type="submit">Create</button>
                    <button class="btn-back" type="button" @click="handlerCancelClick">Cancel</button>
                </div>
            </div>
        </form>
        <Error v-if="error" :message="error"/>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import {defineAsyncComponent} from 'vue';

    export default {
        name: "Add",
        data: () => ({
            subjectData: {
                name: '',
                description: '',
                author: '',
                rootChildren: {}
            },
            lectureData: {
                title: '',
                material: ''
            },
            freeLectures: [],
            authors: [],
            selectedTab: 0,
            error: null
        }),
        computed: {
            ...mapGetters({
                lectures: 'lectures', fetchLecturesError: 'fetchLecturesError',
                createdLecture: 'createdLecture', createLectureError: 'createLectureError',
                updateLectureError: 'updateLectureError',
                createdSubject: 'createdSubject', createSubjectError: 'createSubjectError',
                subject: 'subject',
                users: 'users', fetchUsersError: 'fetchUsersError'
            }),
        },
        components: {
            Error: defineAsyncComponent(() => import('../../components/Error.vue')),
        },
        methods: {
            ...mapActions({
                fetchLectures: 'fetchLectures',
                createLecture: 'createLecture',
                updateLecture: 'updateLecture',
                createSubject: 'createSubject',
                fetchUsers: 'fetchUsers'
            }),
            handlerCancelClick() {
                this.$router.back();
            },
            handlerTabClick(index) {
                this.selectedTab = index;
            },
            async handlerSubmit() {
                if (this.selectedTab === 1) {
                    await this.createLecture(this.lectureData);
                    this.error = this.createLectureError;
                    this.subjectData.rootChildren = this.createdLecture;
                }

                await this.createSubject({
                    name: this.subjectData.name,
                    description: this.subjectData.description,
                    author: this.subjectData.author._id,
                    child: [{
                        type: 'lecture',
                        id: this.subjectData.rootChildren._id
                    }]
                });

                await this.updateLecture({
                    id: this.subjectData.rootChildren._id,
                    payload: {
                        ...this.createdLecture,
                        parentId: this.subject._id
                    },
                });
                this.error = this.createSubjectError ?? this.updateLectureError;

                if (!this.error) {
                    this.$router.back();
                }
            }
        },
        async mounted() {
            await this.fetchUsers();
            this.authors = this.users.filter(user => user.role !== 'student');

            await this.fetchLectures();
            this.error = this.fetchUsersError ?? this.fetchLecturesError;
            this.freeLectures = this.lectures.filter(lecture => lecture.parentId === null);
            this.selectedTab = this.freeLectures.length > 0 ? 0 : 1;
            this.subjectData.rootChildren = this.freeLectures[0];
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../assets/styles/main";
    @import "../../assets/styles/forms";
    @import "../../assets/styles/tabs";
    @import "../../assets/styles/buttons";
</style>