<template>
    <Header title="Subject: edit" v-if="!isAdminPanelCaller"/>

    <div v-if="subject">
        <div class="form__container">
            <p class="form__title">Edit Subject</p>
            <form class="form" @submit.prevent="onSubmit">
                <div class="form__items">
                    <div class="form__item">
                        <label class="form__item-label">ID: {{subject._id}}</label>
                    </div>
                    <div class="form__item">
                        <label for="name" class="form__item-label">Name</label>
                        <input
                                class="form__item-field"
                                type="text"
                                id="name"
                                name="name"
                                v-model="subjectData.name"
                                required="required"
                                autocomplete="off"
                        />
                    </div>
                    <div class="form__item">
                        <label for="description" class="form__item-label">Description</label>
                        <textarea
                                class="form__item-field"
                                id="description"
                                name="description"
                                v-model="subjectData.description"
                                required="required"
                        ></textarea>
                    </div>
                    <div class="form__item">
                        <label class="form__item-label">Author: {{subjectData.author}}</label>
                    </div>
                    <div class="form__item">
                        <label for="child" class="form__item-label">Root children{{!subjectData.children.id ? ': none' : ''}}</label>
                        <ul id="child" v-if="subjectData.children && subjectData.children.id" class="form__item-field">
                            <li class="list-item">
                                Title: {{subjectData.children.title}}<br/> ID: {{subjectData.children._id}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="buttons-container">
                    <button class="btn-save" type="submit">Save</button>
                    <button class="btn-back" type="button" @click="handlerCancelClick">Cancel</button>
                </div>
            </form>
        </div>
        <p v-if="isUpdating">Updating...</p>
        <Error v-if="error" :message="error"/>
    </div>
    <div v-else>Loading...</div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';
    import {defineAsyncComponent} from 'vue'

    export default {
        name: "SubjectEdit",
        props: {},
        data: () => ({
            isAdminPanelCaller: false,
            isUpdating: false,
            subjectData: {
                name: '',
                description: '',
                author: '',
                children: {},
            },
            error: null
        }),
        components: {
            Header: defineAsyncComponent(() => import('../../components/Header.vue')),
            Error: defineAsyncComponent(() => import('../../components/Error.vue')),
        },
        computed: {
            ...mapGetters({
                subject: 'subject', fetchSubjectError: 'fetchSubjectError',
                subjectRoot: 'subjectRoot', fetchSubjectRootError: 'fetchSubjectRootError',
                updateSubjectError: 'updateSubjectError',
                user: 'user', fetchUserError: 'fetchUserError'
            }),
        },
        methods: {
            ...mapActions({
                fetchSubject: 'fetchSubject',
                fetchSubjectRoot: 'fetchSubjectRoot',
                fetchUser: 'fetchUser',
                updateSubject: 'updateSubject'
            }),
            async onSubmit() {
                this.isUpdating = true;

                await this.updateSubject({
                    id: this.subject._id,
                    payload: {
                        name: this.subjectData.name,
                        description: this.subjectData.description,
                        author: this.subject.author,
                        child: this.subject.child
                    }
                });
                this.error = this.updateSubjectError;
                this.isUpdating = false;

                if (!this.error) {
                    this.$router.back();
                }
            },
            handlerCancelClick() {
                this.$router.back();
            }
        },
        async mounted() {
            const subjectId = this.$route.params.id;
            const caller = this.$route.params.caller;
            await this.fetchSubject(subjectId);
            await this.fetchUser(this.subject.author);
            this.error = this.fetchSubjectError ?? this.fetchUserError;

            if (this.subject.child.length > 0) {
                await this.fetchSubjectRoot(this.subject.child[0].id);
                this.error = this.fetchSubjectRootError;
            }

            this.isAdminPanelCaller = caller && caller === 'admin-panel';
            this.subjectData = {
                name: this.subject.name,
                description: this.subject.description,
                author: this.user.nickname,
                children: this.subjectRoot,
            };
        },
    }
</script>

<style lang="scss" scoped>
    @import "../../assets/styles/main";
    @import "../../assets/styles/buttons";
    @import "../../assets/styles/forms";
</style>