<template>
    <div class="info-container full-screen">
        <p class="info-header">Subject Information</p>
        <div class="info-items" v-if="subject._id">
            <div class="info-item">
                <div class="info-item-name">
                    <span>ID</span>
                </div>
                <div class="info-item-value">
                    <span>{{subject._id}}</span>
                </div>
            </div>
            <div class="info-item">
                <div class="info-item-name">
                    <span>Name</span>
                </div>
                <div class="info-item-value">
                    <span>{{subject.name}}</span>
                </div>
            </div>
            <div class="info-item">
                <div class="info-item-name">
                    <span>Description</span>
                </div>
                <div class="info-item-value">
                    <span>{{subject.description}}</span>
                </div>
            </div>
            <div class="info-item">
                <div class="info-item-name">
                    <span>Author</span>
                </div>
                <div class="info-item-value">
                    <span>{{subject.author}}</span>
                </div>
            </div>
            <div class="info-item">
                <div class="info-item-name">
                    <span>Child</span>
                </div>
                <div class="info-item-value">
                    <ul>
                        <li
                                v-for="(children, key) in subject.child"
                                :key="key"
                        >
                            {{children.type}} {{children.id}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <button class="btn-back" @click="handlerBackClick">Back</button>
        <Error v-if="error" :message="error"/>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import {defineAsyncComponent} from 'vue';

    export default {
        name: "SubjectView",
        computed: {
            ...mapGetters({
                subject: 'subject',
                fetchSubjectError: 'fetchSubjectError'
            }),
        },
        components: {
            Error: defineAsyncComponent(() => import('../../components/Error.vue')),
        },
        data: () => ({
            error: null
        }),
        methods: {
            ...mapActions({
                fetchSubject: 'fetchSubject',
            }),
            handlerBackClick() {
                this.$router.back();
            }
        },
        async mounted() {
            const subjectId = this.$route.params.id;
            await this.fetchSubject(subjectId);
            this.error = this.fetchSubjectError;
        },
    }
</script>

<style lang="scss" scoped>
    @import "../../assets/styles/utils";
    @import "../../assets/styles/colors";
    @import "../../assets/styles/main";
    @import "../../assets/styles/buttons";
    @import "../../assets/styles/info";
</style>