<template>
    <button class="back" @click="handlerBackClick"></button>
</template>

<script>
    export default {
        name: "BackButton",
        methods: {
            handlerBackClick() {
                this.$router.back();
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '../assets/styles/mixins';
    @import '../assets/styles/images';

    .back {
        width: 3vw;
        height: 3vw;

        @include svgBg($backBtn--white, 1.5vw);
    }
</style>