<template>
    <div class="error__container">
        <p class="error__message">{{message}}</p>
    </div>
</template>

<script>
    export default {
        name: "Error",
        props: {
            message: {
                type: String,
                default: 'Smth went wrong...'
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../assets/styles/colors";
    @import "../assets/styles/mixins";
    @import "../assets/styles/images";
    @import "../assets/styles/layers";

    .error {
        &__container {
            position: fixed;
            bottom: 3vh;
            right: 3vw;
            padding: 1vh 1vw;
            opacity: 0;

            box-shadow: 0 0 4px $strawberry;
            border-radius: 20px;
            z-index: $error-layer;

            @include svgBg($warning, 1.25vw, .5vw);
            background-color: $milk;

            animation: show 5s 0s 1 alternate;
        }

        &__message {
            margin: 0;
            font-size: .85vw;
            text-indent: 1.25vw;
        }
    }

    @keyframes show {
        0% {
            opacity: 0;
        }
        25% {
            opacity: 1;
        }
        75% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
</style>