<template>
    <div class="graphic__container" v-if="statistic" id="name">
        <div class="graphic__header">
            <p class="graphic__title">{{title}}</p>
            <select class="graphic__select" v-if="isMultiLeveled" v-model="selectedLevel">
                <option
                        v-for="(level, key) in levels"
                        :key="key"
                        :v-model="levels"
                        :value="level"
                >
                    {{level}}
                </option>
            </select>
        </div>

        <svg class="graphic__content" v-if="unit !== 0">
            <g class="graphic__chart" v-html="chart"></g>
            <g class="graphic__guide-lines" v-html="guideLines"></g>
        </svg>
    </div>
</template>

<script>
    export default {
        name: "Graphic",
        props: {
            statistic: {
                type: Object,
                default: () => {},
            },
            name: {
                type: String,
                default: ''
            },
            title: {
                type: String,
                default: ''
            },
            isMultiLeveled: {
                type: Boolean,
                default: false
            },
            levels: {
                type: Array,
                default: () => []
            }
        },
        data: () => ({
            unit: 0,
            width: 0,
            height: 0,
            selectedLevel: '',

            indent: {
                x: 30,
                y: 25
            },

            chart: '',
            guideLines: '',

            values: [],
            currentStatistic: {}
        }),
        methods: {
            setInitialSettings() {
                const height = document.documentElement.clientHeight;
                const width = document.documentElement.clientWidth;
                this.width = width * 0.35 - this.indent.x;
                this.height = height * 0.45 - this.indent.y;
                this.createChart();
                this.createGuideLines();
            },
            createGuideLines() {
                const vertical = `<line x1="${this.indent.x}" y1="${this.indent.y}" x2="${this.indent.x}" y2="${this.height}" `  +
                    `stroke="#d80912" stroke-width="2" stroke-linecap="round"/>`;
                const horizontal = `<line x1="${this.indent.x}" y1="${this.height}" x2="${this.width}" y2="${this.height}" ` +
                    `stroke="#d80912" stroke-width="2" stroke-linecap="round"/>`;

                this.guideLines = vertical + horizontal;
            },
            getPoints() {
                const points = {
                    horizontal: {},
                    vertical: {}
                };

                const size = 5;
                const amount = this.unit > 10 ? 10 : this.unit;
                const verticalIndent = (this.height - this.indent.y) / (amount + 1);
                const horizontalIndent = (this.width - this.indent.x) / (this.values.length + 1);

                for (let i = 0; i < this.values.length; i++) {
                    const x = (i + 1) * horizontalIndent + this.indent.x;
                    points.horizontal[this.values[i]] = ({
                        x1: x,
                        y1: this.height - size,
                        x2: x,
                        y2: this.height + size,
                    });
                }

                for (let i = 0; i < amount; i++) {
                    const y = (i + 1) * verticalIndent + this.indent.y;
                    points.vertical[i + 1] = ({
                        x1: this.indent.x - size,
                        y1: y,
                        x2: this.indent.x + size,
                        y2: y,
                    });
                }

                return points;
            },
            createChart() {
                const points = this.getPoints();
                const amount = this.unit >= 10 ? 10 : this.unit;
                const horizontalIndent = (this.width - this.indent.x) / (this.values.length + 1);

                let vertical = ``;
                let horizontal = ``;
                let chart = ``;

                for (let i = 0; i < this.values.length; i++) {
                    const coords = points.horizontal[this.values[i]];
                    horizontal += `<text x="${coords.x1 + i}" y="${this.height + 15}" ` +
                        `font-size="1vw" font-weight="500" text-anchor="middle" >${this.values[i]}</text>`
                }

                for (let i = 0; i < amount; i++) {
                    const coords = points.vertical[i + 1];
                    const value = this.unit > 10 ? Math.ceil(this.unit - this.unit / 10 * i) : (amount - i);
                    vertical += `<line x1="${coords.x1}" y1="${coords.y1}" x2="${coords.x2}" y2="${coords.y2}" stroke="#d80912"/>`;
                    vertical += `<text x="${this.indent.x - 9}" y="${coords.y1 + 4}" ` +
                        `font-size="1vw" font-weight="bold" text-anchor="end" >${value}</text>`
                }

                const keys = Object.keys(points.vertical);
                const last = points.vertical[keys[keys.length - 1]];
                for (let key of Object.keys(this.currentStatistic)) {
                    const currentIndex = Object.keys(this.currentStatistic).indexOf(key);
                    const x = points.horizontal[key].x1 - horizontalIndent / 2;
                    const percent = this.currentStatistic[key] * 100 / this.unit;
                    let y = (last.y2 - this.indent.y) * percent / 100 ;

                    const color = `240, ${this.currentStatistic[key] * 70 / amount}, 0`;
                    chart += `<rect x="${x + currentIndex}" y="${this.height - y}" width="${horizontalIndent}" height="${y}" ` +
                        `stroke="rgb(${color})" stroke-width="2" fill="rgba(${color}, .85)" stroke-linejoin="round" stroke-linecap="round" />`;
                }

                this.chart = horizontal + vertical + chart;
            },
            setUnit() {
                this.unit = Math.max(...Object.values(this.currentStatistic));
            },
        },
        async mounted() {
            if (this.isMultiLeveled) {
                this.selectedLevel = this.levels[0];
                this.currentStatistic = this.statistic[this.selectedLevel];
            } else {
                this.currentStatistic = this.statistic;
            }

            this.setUnit();

            this.values = Object.keys(this.currentStatistic);

            !this.isMultiLeveled && this.setInitialSettings();

            window.addEventListener('resize', this.setInitialSettings);
        },
        watch: {
            selectedLevel: function() {
                this.currentStatistic = this.statistic[this.selectedLevel];
                this.setUnit();
                this.setInitialSettings();
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../assets/styles/colors";

    .graphic{
        &__container {
            width: 35vw;
            height: 45vh;
            margin: 2.5vh auto;

            box-shadow: 0 0 3px $strawberry;
            border-radius: 4px;
        }

        &__content {
            width: 100%;
            height: 100%;
        }

        &__header {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 35vw;
            height: 4vh;
            margin-bottom: -4.5vh;

            font-weight: bold;
            text-align: center;
        }

        &__title {
            margin: 0;
            line-height: 4vh;
        }

        &__select {
            margin-left: 1vw;
            font: {
                family: "Bookman Old Style", serif;
                weight: bold;
            }

            &, &:active, &:focus {
                border: none;
                outline: none;
            }
        }
    }
</style>