<template>
    <div class="header">
        <div class="header__back">
            <BackButton v-if="!isHomePage"/>
        </div>
        <h2 class="header__title">{{title}}</h2>
        <div class="header__buttons">
            <button
                    v-if="user && user.can('viewAdminPanel')"
                    class="header__button btn-nav-item header__button-admin-panel"
                    @click="handlerAdminPanelClick"
            >
                <p>Admin</p>
            </button>
            <button
                    v-if="isEditNeeded && !isHomePage && user && user.can('edit') && isCurrentUserAuthor"
                    class="header__button btn-nav-item header__button-edit"
                    :class="'header__button-edit--' + (isEditMode ? 'on' : 'off')"
                    @click="handlerChangeModeClick"
            >
                <span>{{isEditMode ? 'ON' : 'OFF'}}</span>
            </button>
            <button
                    v-if="!isHomePage"
                    class="header__button btn-nav-item header__button-home"
                    @click="handlerHomeClick"
            >
                <p>Home</p>
            </button>
            <button
                    v-if="user && user.can('viewProfile')"
                    class="header__button btn-nav-item header__button-user"
                    @click="handlerProfileClick"
            >
                <span>{{username}}</span>
            </button>
            <button
                    v-if="!isAuthenticated"
                    class="header__button btn-nav-item header__button-login"
                    @click="handlerLoginClick"
            >
                <p>Login</p>
            </button>
            <button
                    v-if="!isAuthenticated"
                    class="header__button btn-nav-item header__button-sign-up"
                    @click="handlerSignUpClick"
            >
                <p>Sign Up</p>
            </button>
            <button
                    v-else
                    class="header__button btn-nav-item header__button-logout"
                    @click="handlerLogoutClick"
            >
                <p>Logout</p>
            </button>
        </div>
        <Error v-if="error" :message="error"/>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import {defineAsyncComponent} from 'vue';

    export default {
        name: "Header",
        props: {
            title: {
                type: String,
                default: ''
            },
            isEditNeeded: {
                type: Boolean,
                default: false
            },
        },
        computed: {
            ...mapGetters({
                status: 'status',
                currentUser: 'currentUser',
                logoutError: 'logoutError',
                subject: 'subject',
            })
        },
        data: () => ({
            isEditMode: false,
            isHomePage: false,
            isAuthenticated: false,
            isCurrentUserAuthor: false,
            username: '',
            user: null,
            error: null,
        }),
        async mounted() {
            this.isHomePage = this.$router.currentRoute.value.name === 'Home';
            this.isAuthenticated = this.status;
            this.username = this.status ? this.currentUser.nickname : '';
            this.user = this.currentUser;

            const subjectId = this.$route.params.id;
            if (subjectId) {
                await this.fetchSubject(subjectId);
                this.isCurrentUserAuthor = this.subject.author === this.user._id;

                this.isEditMode = sessionStorage.getItem('isEditMode') === 'true';
            }

        },
        components: {
            BackButton: defineAsyncComponent(() => import('../components/BackButton.vue')),
            Error: defineAsyncComponent(() => import('../components/Error.vue')),
        },
        methods: {
            ...mapActions({
                logout: 'logout',
                fetchSubject: 'fetchSubject'
            }),
            handlerHomeClick() {
                this.$router.push('/');
            },
            handlerChangeModeClick() {
                this.isEditMode = !this.isEditMode;
                sessionStorage.setItem('isEditMode', this.isEditMode);
                this.$emit('changeMode');
            },
            handlerLoginClick() {
                this.$router.push('/login');
            },
            handlerSignUpClick() {
                this.$router.push('/sign-up');
            },
            async handlerLogoutClick() {
                await this.logout();

                if (!this.logoutError) {
                    this.isAuthenticated = this.status;
                    this.username = '';
                    this.user = null;
                    sessionStorage.removeItem('isEditMode');
                    sessionStorage.removeItem('left');
                    sessionStorage.removeItem('top');
                    await this.$router.push('/');
                } else {
                    this.error = this.logoutError;
                }
            },
            handlerProfileClick() {
                console.log(this.currentUser && this.currentUser.can('viewProfile'));
                console.log(this.currentUser && this.currentUser.can('edit'));
            },
            handlerAdminPanelClick() {
                const nextRoute = this.$router.resolve({path: '/admin-panel'});
                window.open(nextRoute.href, '_blank');
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "./../assets/styles/main";
    @import "./../assets/styles/layers";
    @import "./../assets/styles/colors";
    @import "./../assets/styles/images";
    @import "./../assets/styles/mixins";

    $backgroundSize: 1.7vw;

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        width: 100vw;
        height: 8.5vh;

        background-color: $strawberry;
        z-index: $header-layer;
        box-shadow: 0 0 5px $strawberry;

        &__back {
            width: 3.2vw;
            margin: auto 2vw auto .5vw;
        }

        &__title {
            color: $milk;
        }

        &__buttons {
            position: fixed;
            right: .5vw;
            display: flex;

            width: max-content;
            height: 8vh;
            padding: 2px 5px;
        }

        &__button {
            width: 4vw;
            height: 8vh;

            font: {
                family: "Bookman Old Style", sans-serif;
                size: 1vw;
            }
            color: $milk;
            text-indent: 1.25vw;

            > p {
                width: 0;
                opacity: 0;
            }

            &:hover {
                animation: changeButtonWidth .5s 1 .2s alternate both;
                > p {
                    animation: changeTextWidth .1s 1 .5s alternate both,
                    changeOpacity .3s 1 .5s alternate both;
                }
            }

            &-edit, &-user {
                width: 6vw;
                text-indent: .75vw;

                &:hover {
                    animation: none;
                }
            }

            &-edit {
                @include svgBg($editWhite, $backgroundSize, left);
            }

            &-user {
                @include svgBg($user, $backgroundSize, left);
            }

            &-login {
                @include svgBg($login, $backgroundSize, left);
            }

            &-logout {
                @include svgBg($logout, $backgroundSize, left);
            }
            &-home {
                @include svgBg($home, $backgroundSize, left);
            }
            &-sign-up {
                @include svgBg($userAdd, $backgroundSize, left);
            }
            &-admin-panel {
                @include svgBg($admin, $backgroundSize, left);
            }
        }
    }

    @keyframes changeButtonWidth {
        0% {
            width: 4vw;
        }

        100% {
            width: 6.5vw;
        }
    }

    @keyframes changeTextWidth {
        0% {
            width: 0;
        }
        100% {
            width: initial;
        }
    }
    @keyframes changeOpacity {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
</style>