<template>
    <div
            class="graph__node"
            :class="isCompleted(children._id) ? 'graph__node--completed' : ''"
            v-for="(children, key) in nodeData"
            :key="key"
            :id="children._id"
            :parentId="children.parentId"
            :isCompleted="isCompleted(children._id)"
            @click="handleNodeClick(children._id, children.type)"
    >
        <div
                class="graph__node-header"
                :class="isCompleted(children._id) ? 'graph__node-header--completed' : ''"
        >
            <div
                    class="graph__node-header__icon"
                    :class="('graph__node-header__icon--' + children.type)"
                    id="icon"
            ></div>
            <div class="graph__node-header__tools" v-if="isEditMode">
                <button
                        class="graph__node-header__tool graph__node-header__tool--add"
                        id="add"
                        @click="(event) => { handleAddClick(event, children._id, children.type) }"
                ></button>
                <button
                        class="graph__node-header__tool graph__node-header__tool--edit"
                        id="edit"
                        @click="(event) => { handleEditClick(event, children._id, children.type) }"
                ></button>
                <button
                        class="graph__node-header__tool graph__node-header__tool--delete"
                        id="delete"
                        @click="(event) => { handleDeleteClick(event, children._id, children.parentId) }"
                ></button>
            </div>
        </div>
        <div class="graph__node-main">
            <p class="graph__node-main__title">{{children.title}}</p>
        </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex';

    export default {
        name: "Node",
        emits: ['handlerDeleteClick', 'isCompleted'],
        props: {
            nodeData: {
                type: Array,
                default: () => [],
            },
            index: {
                type: Number,
                default: 0,
            },
            parentId: {
                type: Number,
                default: 0,
            },
            isEditMode: {
                type: Boolean,
                default: false,
            },
            completed: {
                type: Object,
                default: () => {},
            }
        },
        data: () => ({
            deleteClickAmount: 0
        }),
        methods: {
            ...mapActions({
                delete: 'delete',
                update: 'update'
            }),
            handleNodeClick(id, type) {
                this.$router.push(`/${type}/${id}/${this.isCompleted(id) ? 'completed' : ''}`);
            },
            handleAddClick(event, id, type) {
                event.stopPropagation();
                this.$router.push(`/${type}/${id}/add`);
            },
            handleEditClick(event, id, type) {
                event.stopPropagation();
                this.$router.push(`/${type}/${id}/edit`);
            },
            async handleDeleteClick(event, id, parentId) {
                event.stopPropagation();
                this.$emit('handlerDeleteClick', id, parentId);
            },
            isCompleted(id) {
                return this.completed.lectures && this.completed.lectures.includes(id);
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../src/assets/styles/layers";
    @import "../../src/assets/styles/main";
    @import "../../src/assets/styles/utils";
    @import "../../src/assets/styles/colors";
    @import "../../src/assets/styles/images";
    @import "../../src/assets/styles/mixins";

    button {
        border: none;
    }

    .graph {
        &__node {
            width: 10vw;
            height: 12vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 1.5vw 2.5vw;

            background-color: $milk;
            box-shadow: 0 0 3px $green-translucent;
            cursor: pointer;
            z-index: $graph-layer;

            &:hover {
                box-shadow: 0 0 4px $green;
            }

            &--completed {
                box-shadow: 0 0 3px $blue-translucent;
                &:hover {
                    box-shadow: 0 0 4px $blue;
                }
            }

            &, &-header {
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
            }

            &-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                width: 100%;
                height: 4vh;
                background-color: $green;

                &--completed {
                    background-color: $blue;
                }

                &, &>*{
                    z-index: $icon-layer;
                }

                &__icon {
                    width: 2vw;
                    height: 4vh;
                    z-index: $icon-layer;

                    &--lecture {
                        @include svgBg($lecture2, 1vw);
                    }
                }

                &__tools {
                    width: max-content;
                    height: 4vh;
                    margin-right: .25vw;
                }

                &__tool {
                    width: 1.5vw;
                    height: 4vh;

                    &--add {
                        @include svgBg($addWhite, 1vw);
                    }

                    &--edit {
                        @include svgBg($editWhite, 1vw);
                    }

                    &--delete {
                        @include svgBg($deleteWhite, 1vw);
                    }
                }
            }

            &-main {
                height: 6vh;
                padding: 1vh .5vw;

                &__title {
                    margin: 0;
                    font-size: .8vw;
                }
            }
        }
    }

    /*.graph {
        &__node {
            width: 15vw;
            height: 15vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            margin: 1.5vw 2vw;

            &-title {
                max-height: 1.8vh;
                margin: 1px auto;
                font-size: .8vw;
                text-align: center;
            }

            &-icon-container {
                display: flex;
                justify-content: center;
                margin-top: .7vh;
            }

            &-icon {
                width: 4vw;
                height: 4vw;

                border: 2px solid #0cf;
                //border: 3px solid $green;

                &, &-container {
                    background-color: white;
                    z-index: $icon-layer;
                }
            }

            &-tools {
                position: relative;
                width: 8vw;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                height: max-content;

                z-index: $tools-layer;

                > button {
                    width: 2.3vw;
                    height: 2.3vw;
                }
            }
        }

        &__child-line {
            position: absolute;
        }
    }
    .lecture {
        background: #0cf3 url("https://www.flaticon.com/svg/static/icons/svg/2904/2904843.svg") no-repeat center;
        background-size: 80%;
    }

    .add-tool {
        background: transparent url("../../public/img/icons/plus.png") no-repeat center;
        background-size: contain;
    }

    .edit-tool {
        background: transparent url("../../public/img/icons/edit.png") no-repeat center;
        background-size: contain;
    }

    .delete-tool {
        background: transparent url("../../public/img/icons/trash.png") no-repeat center;
        background-size: contain;
    }

    .editable {
        background-color: lightgray;
        border: 2px solid gray;
    }*/
</style>
