<template>
    <div v-if="isReady" class="graphics-container">
        <Graphic
                v-for="(item, key) in Object.keys(statistics)"
                :key="key"
                :statistic="statistics[item]"
                :name="item"
                :title="additionalData[item].title"
                :isMultiLeveled="additionalData[item].isMultiLeveled"
                :levels="additionalData[item].levels"
        />
    </div>
</template>

<script>
    import {defineAsyncComponent} from 'vue'
    import {mapGetters, mapActions} from 'vuex';

    export default {
        name: "Statistics",
        components: {
            Graphic: defineAsyncComponent(() => import('./../components/Graphic.vue')),
        },
        data: () => ({
            isReady: false,
            statistics: {
                usersByMonth: {},
                usersByYear: {},
                topActiveUsers: {}
            },
            additionalData: {
                usersByMonth: {
                    title: 'Influx of users (per year)',
                    isMultiLeveled: true,
                    levels: []
                },
                usersByYear: {
                    title: 'Influx of users (ever)',
                    isMultiLeveled: false,
                },
                topActiveUsers: {
                    title: 'Top 5 active users (learned amount)',
                    isMultiLeveled: false
                }
            }
        }),
        computed: {
            ...mapGetters({
                user: 'user',
                users: 'users',
                completedStages: 'completedStages'
            })
        },
        methods: {
            ...mapActions({
                fetchUser: 'fetchUser',
                fetchUsers: 'fetchUsers',
                fetchCompletedStages: 'fetchCompletedStages'
            }),
            getUserInflux() {
                const months = ['Jan', 'Feb', 'Mar', 'May', 'Apr', 'Jun', 'Jul', 'Aug', 'Sep', 'Nov', 'Oct', 'Dec'];
                const dates = this.users.map(user => new Date(user.registrationDate));
                const result = {
                    'month': {},
                    'year': {}
                };

                for (let date of dates) {
                    const month = date.toLocaleString('en', { month: 'short'});
                    const year = date.getFullYear();
                    if (result.year[year]) {
                        result.year[year]++;
                    } else {
                        result.year[year] = 1;
                        result.month[year] = {};
                        months.map(month => result.month[year][month] = 0);
                    }

                    if (result.month[year] && result.month[year][month]) {
                        result.month[year][month]++;
                    } else {
                        result.month[year][month] = 1;
                    }
                }

                return result;
            },
            async getTopActiveUsers() {
                await this.fetchCompletedStages();

                const usersActivity = {};

                const items = this.completedStages.sort(function(a, b) {
                    return b.lectures.length - a.lectures.length;
                }).slice(0, 5);

                for (let item of items) {
                    await this.fetchUser(item.userId);
                    usersActivity[this.user.nickname] = item.lectures.length;
                }

                return usersActivity;
            },
        },
        async mounted() {
            await this.fetchUsers();
            const influx = this.getUserInflux();

            this.statistics.usersByMonth = influx.month;
            this.statistics.usersByYear = influx.year;
            this.statistics.topActiveUsers = await this.getTopActiveUsers();

            this.additionalData.usersByMonth.levels = Object.keys(influx.year);
            this.isReady = true;
        }
    }
</script>

<style lang="scss" scoped>
    .graphics-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        overflow-y: scroll;
        width: 78vw;
    }
</style>