<template>
    <div class="subjects" v-if="subjects">
        <div
                v-for="(subject, key) in subjects"
                :key="key"
                class="subject"
        >
            <div
                    class="subject__header"
                    :class="completed && completed.subjects && isCompleted(subject._id) ? 'subject__header--completed' : ''"
            ></div>
            <div class="subject__content">
                <p class="subject__content-author">By {{authors[subject.author]}}</p>
                <p class="subject__content-title">{{subject.name}}</p>
                <p class="subject__content-description">{{subject.description}}</p>
            </div>
            <div class="subject__footer">
                <button class="subject__footer-explore" @click="handlerSubjectClick(subject._id)"></button>
            </div>
        </div>
        <Error v-if="error" :message="error"/>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';
    import {defineAsyncComponent} from 'vue'

    export default {
        name: "Subjects",
        props: {
            data: {
                type: Object,
                default: () => {
                }
            }
        },
        components: {
            Error: defineAsyncComponent(() => import('../components/Error.vue')),
        },
        computed: {
            ...mapGetters({
                subjects: 'subjects', fetchSubjectsError: 'fetchSubjectsError',
                authors: 'authors', fetchAuthorsError: 'fetchAuthorsError',
                userCompletedStages: 'userCompletedStages',
                fetchCompletedStagesByIdError: 'fetchCompletedStagesByIdError',
            }),
        },
        data: () => ({
            completed: {},
            error: null
        }),
        methods: {
            ...mapActions({
                fetchSubjects: 'fetchSubjects',
                fetchAuthors: 'fetchAuthors',
                fetchCompletedStagesByUserId: 'fetchCompletedStagesByUserId'
            }),
            handlerSubjectClick(id) {
                this.$router.push(`/subject/${id}`);
            },
            getUniqueValues(subjects) {
                let result = [];

                for (let subject of subjects) {
                    if (!result.includes(subject.author)) {
                        result.push(subject.author);
                    }
                }

                return result;
            },
            isCompleted(id) {
                return this.completed.subjects.includes(id);
            }
        },
        async mounted() {
            await this.fetchSubjects();
            this.error = this.fetchSubjectError;

            await this.fetchAuthors(
                this.getUniqueValues(this.subjects)
            );
            this.error = this.fetchAuthorsError;

            const user = JSON.parse(localStorage.getItem('user'));
            if (user !== null) {
                await this.fetchCompletedStagesByUserId(user._id);
                this.error = this.fetchCompletedStagesByIdError;
                this.completed = this.userCompletedStages ?? {};
            }
        },
    }
</script>

<style lang="scss" scoped>
    @import "../../src/assets/styles/main";
    @import "../../src/assets/styles/buttons";
    @import "../../src/assets/styles/mixins";
    @import "../../src/assets/styles/images";

    $radius: 5px;

    p {
        margin: 0;
    }

    .subjects {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100vw;
        height: max-content;
        max-height: 85vh;
        margin: 5vh auto;

        overflow-y: scroll;
    }

    .subject {
        width: 27vw;
        height: 30vh;
        margin: 0 3vw 3vh;

        text-align: center;

        box-shadow: 0 0 10px $light-gray-translucent;
        border-radius: $radius;

        &__header {
            width: 100%;
            height: 20%;

            border-top-left-radius: $radius;
            border-top-right-radius: $radius;
            background-color: $green;

            &--completed {
                //background-color: $blue;
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            height: calc(100% - 20% - 4.5vh);
            padding: 0 1vw 0 1.5vw;

            &-author {
                margin-top: 1.5vh;
                font: {
                    size: .85vw;
                    style: italic;
                }
                color: $light-gray;
            }

            &-title {
                margin: 1vh 0;
                font: {
                    size: 1.2vw;
                    weight: bold;
                }
                color: $strawberry;
            }

            &-description {
                margin: 1.25vh 0;
                font: {
                    size: .9vw;
                }
                text-align: left;
            }
        }

        &__footer {
            display: flex;
            justify-content: flex-end;
            position: relative;
            bottom: 0;
            padding-right: 1vw;

            &-explore {
                width: 2vw;
                height: 2vw;

                @include svgBg($nextBtn, 1.25vw);

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
</style>