<template>
    <div class="dashboard full-screen" v-if="!forbidden">
        <div class="nav-container">
            <p
                    class="nav-header"
                    :class="activeItem === 0 ? 'before-active' : ''"
            >
                Admin panel
            </p>

            <div v-if="names" class="nav-items">
                <div
                        v-for="(name, key) in names"
                        :key="key"
                        :class="'nav-item-container' + (key === activeItem ? '--active' : '')"
                >
                    <div
                            class="nav-item"
                            :class="''
                            + (key === activeItem ? 'nav-item--active' : '')
                            + (key === activeItem - 1 ? 'before-active' : '')
                            + (key === activeItem + 1 && activeItem !== -1 ? 'after-active' : '')"
                            @click="handlerItemClick(name, key)"
                    >
                        {{name}}
                    </div>
                </div>
            </div>
            <div class="nav-footer nav-items" :class="activeItem === names.length - 1 ? 'after-active' : ''">
                <div class="nav-footer__container">
                    <div class="nav-item nav-footer__item nav-footer__item-statistics"
                         @click="handlerStatisticClick(names.length)">
                        Statistics
                    </div>
                    <div class="nav-item nav-footer__item nav-footer__item-exit" @click="handlerExitClick">
                        Exit
                    </div>
                </div>
            </div>
        </div>
        <div class="main-container" v-if="activeItem !== -1">
            <p class="main-title">{{names[activeItem]}} Information</p>
            <div class="tools">
                <div class="tool tool-find">
                    <input
                            type="text"
                            id="find"
                            class="tool-find__value"
                            :placeholder="'Find ' + names[activeItem]"
                            maxlength="40"
                            v-model="findValue"
                            @input="handlerInput"
                    />
                    <label class="tool-find__by">by</label>
                    <select class="tool-find__select" id="findSelect" v-model="findParam">
                        <option
                                :v-model="findParams"
                                v-bind:value="param"
                                v-for="(param, key) in findParams"
                                :key="key"
                        >
                            {{param}}
                        </option>
                    </select>
                </div>
                <div class="tool tool-sort">
                    <label class="tool-sort__by">Sort by</label>
                    <select class="tool-sort__select" id="sort" v-model="sortParam">
                        <option
                                :v-model="sortParams"
                                v-bind:value="param"
                                v-for="(param, key) in sortParams"
                                :key="key"
                        >
                            {{param}}
                        </option>
                    </select>
                    <button
                            v-if="sortParam !== 'default'"
                            class="tool-sort__state"
                            :class="'tool-sort__state--' + sortState"
                            @click="changeState"
                    ></button>
                </div>
                <button class="tool tool-clear" @click="handlerClearClick">Clear all</button>

            </div>
            <div class="main-content" v-if="Object.keys(fields).length > 0 && data.length > 0">
                <div
                        :class="'main-content__field--' + fields[title].size"
                        v-for="(title, key) in Object.keys(fields)"
                        :key="key"
                >
                    <div class="main-content__header">
                        <div class="main-content__field">
                            <span v-if="title !== 'buttons'">{{title}}</span>
                            <span v-else class="main-content__buttons-title">{{title}}</span>
                        </div>
                    </div>

                    <div class="main-content__rows" v-if="data.length > 0">
                        <div
                                v-for="(item, key) in data"
                                :key="key"
                                class="main-content__row"
                        >
                            <div class="main-content__field" v-if="title !== 'buttons'">
                                <span v-if="title === 'token'">
                                    <span>
                                        {{item['token'].slice(0, tokenParam.maxLength)}}...
                                    </span>
                                </span>
                                <span v-else>
                                    {{item[title === 'id' ? '_id' : title]}}
                                </span>
                            </div>
                            <div v-else class="main-content__field main-content__buttons">
                                <button
                                        class="main-content__button main-content__button-view"
                                        @click="handlerViewClick(item._id)"
                                ></button>
                                <button
                                        v-if="!readonly"
                                        class="main-content__button main-content__button-edit"
                                        @click="handlerEditClick(item._id)"
                                ></button>
                                <button
                                        class="main-content__button main-content__button-delete"
                                        @click="handlerDeleteClick(item._id)"
                                ></button>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="main-btn-add" @click="handlerAddClick" v-if="!readonly">
                    <span>Add</span>
                </button>
            </div>
            <div v-else class="not-founded">
                <p>No {{names[activeItem]}} found</p>
            </div>
        </div>
        <div v-else class="statistics">
            <Statistics/>
        </div>
        <Error v-if="error" :message="error"/>
    </div>
    <div v-else class="full-screen center">
        <p class="forbidden">You don't have access to admin panel</p>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import {defineAsyncComponent} from 'vue'
    import setup from "./setup";
    import {deleteToken} from "../../services/token.services";

    export default {
        name: "AdminPanel",
        data: () => ({
            names: [],
            initialData: [],
            data: [],
            path: [],
            states: ['asc', 'desc'],
            sortParams: [],
            findParams: [],

            fields: {},
            tokenParam: {maxLength: 0},
            error: null,

            activeItem: 0,

            sortState: 'asc',
            sortParam: 'default',
            findValue: '',
            findParam: '',

            readonly: false,
            forbidden: false,
        }),
        computed: {
            ...mapGetters({
                collectionNames: 'collectionNames',
                fetchCollectionNamesError: 'fetchCollectionNamesError',
                subjects: 'subjects',
                fetchSubjectsError: 'fetchSubjectsError',
                deleteSubjectError: 'deleteSubjectError',
                lectures: 'lectures',
                fetchLecturesError: 'fetchLecturesError',
                lecture: 'lecture',
                fetchLectureError: 'fetchLectureError',
                updateLectureError: 'updateLectureError',
                deleteLectureError: 'deleteLectureError',
                abilities: 'abilities',
                fetchAbilitiesError: 'fetchAbilitiesError',
                deleteAbilityError: 'deleteAbilityError',
                tokens: 'tokens', token: 'token',
                fetchTokensError: 'fetchTokensError',
                deleteTokenError: 'deleteTokenError',
                users: 'users',
                fetchUsersError: 'fetchUsersError',
                deleteUserError: 'deleteUserError',
                userCompletedStages: 'userCompletedStages',
                currentUser: 'currentUser'
            }),
        },
        components: {
            Statistics: defineAsyncComponent(() => import('../../components/Statistics.vue')),
            Error: defineAsyncComponent(() => import('../../components/Error.vue')),
        },
        methods: {
            ...mapActions({
                fetchCollectionNames: 'fetchCollectionNames',
                fetchSubjects: 'fetchSubjects', deleteSubject: 'deleteSubject',
                fetchLecture: 'fetchLecture', fetchLectures: 'fetchLectures',
                updateLecture: 'updateLecture', deleteLecture: 'deleteLecture',
                fetchAbilities: 'fetchAbilities', deleteAbility: 'deleteAbility',
                fetchTokens: 'fetchTokens', deleteToken: 'deleteToken',
                fetchTokenByUserId: 'fetchTokenByUserId',
                fetchUsers: 'fetchUsers', deleteUser: 'deleteUser',
                fetchUserCompletedStages: 'fetchUserCompletedStages'
            }),
            async handlerItemClick(itemName, index = null) {
                index = index ?? this.names.indexOf(itemName);
                localStorage.setItem('activeItem', `${index}`);

                this.activeItem = index;
                this.fields = this.getVisibleFields(itemName);
                this.data = [];
                this.setInitialSettings();

                switch (itemName) {
                    case 'subjects':
                        await this.fetchSubjects();
                        this.data = this.subjects;
                        break;
                    case 'lectures':
                        await this.fetchLectures();
                        this.data = this.lectures;
                        break;
                    case 'abilities':
                        await this.fetchAbilities();
                        this.data = this.abilities;
                        break;
                    case 'tokens':
                        await this.fetchTokens();
                        this.data = this.tokens;

                        this.setValues();
                        window.addEventListener('resize', () => {
                            this.setValues();
                        });
                        break;
                    case 'users':
                        await this.fetchUsers();
                        this.data = this.users;
                        break;
                    default:
                        break;
                }

                if (itemName) {
                    const errorName = `fetch${itemName[0].toUpperCase() + itemName.slice(1)}Error`;
                    if (this[errorName] !== null && this[errorName] !== undefined) {
                        this.error = errorName;
                    } else {
                        this.initialData = this.data;
                    }
                }
            },
            handlerViewClick(id) {
                this.$router.push(`/admin-panel/${this.path}/${id}`);
            },
            handlerEditClick(id) {
                this.$router.push(`/admin-panel/${this.path}/${id}/edit`);
            },
            handlerAddClick() {
                this.$router.push(`/admin-panel/${this.path}/add`);
            },
            handlerExitClick() {
                this.$router.push('/');
            },
            async handlerDeleteClick(id) {
                if (confirm('Are you sure you want to delete this item?')) {
                    let item;
                    const itemName = this.names[this.activeItem];

                    switch (itemName) {
                        case 'subjects':
                            item = this.subjects.find(subject => subject._id === id);
                            await this.fetchLecture(item.child[0].id);

                            await this.updateLecture({
                                id: item.child[0].id,
                                payload: {...this.lecture, parentId: null}
                            });
                            await this.deleteSubject(id);
                            break;
                        case 'lectures':
                            item = this.lectures.find(lecture => lecture._id === id);

                            if (item.parentId !== null) {
                                await this.fetchLecture(item.parentId);

                                const newChild = this.lecture.child.filter(children => children.id !== id);
                                await this.updateLecture({
                                    id: this.lecture._id,
                                    payload: {
                                        ...this.lecture,
                                        child: newChild
                                    }
                                })
                            }

                            await this.deleteLecture(id);
                            break;
                        case 'abilities':
                            await this.deleteAbility(id);
                            break;
                        case 'tokens':
                            await this.deleteToken(id);
                            break;
                        case 'users':
                            await this.fetchTokenByUserId(id);
                            if (this.token) {
                                await deleteToken(this.token._id);
                            }

                            await this.deleteUser(id);
                            break;
                        default:
                            break;
                    }

                    if (itemName) {
                        const errorName = `delete${itemName[0].toUpperCase() + itemName.slice(1)}Error`;
                        if (this[errorName] !== null && this[errorName] !== undefined) {
                            this.error = errorName;
                        }
                        if (!this.error) {
                            this.data = this.data.filter(item => item._id !== id);
                        }
                    }
                }
            },
            handlerInput() {
                const param = this.findParam === 'id' ? '_id' : this.findParam;
                this.data = this.initialData.filter(item => item[param].includes(this.findValue));
            },
            handlerClearClick() {
                this.setInitialSettings();
            },
            handlerStatisticClick() {
                this.activeItem = -1;
                localStorage.setItem('activeItem', `-1`);
            },
            setInitialSettings() {
                const params = ['default'].concat(Object.keys(this.fields));
                params.pop();

                this.sortParam = 'default';
                this.sortParams = params;
                this.findValue = '';
                this.findParam = params[1];
                this.findParams = params.slice(1);
            },
            getVisibleFields(itemName) {
                const fields = {};
                for (let field in setup[itemName]) {
                    if (Object.prototype.hasOwnProperty.call(setup[itemName], field)) {
                        if (setup[itemName][field].isVisible) {
                            fields[field] = setup[itemName][field];
                        }
                        this.path = setup[itemName].path.name;
                        this.readonly = setup[itemName].readonly.value;
                    }
                }
                fields.buttons = '';

                return fields;
            },
            setValues() {
                const clientWidth = document.documentElement.clientWidth;
                this.tokenParam.maxLength = clientWidth * 0.02;
            },
            sortByField(fieldName, mode) {
                if (mode === 'asc') {
                    return (a, b) => a[fieldName] < b[fieldName] ? 1 : -1;
                } else {
                    return (a, b) => a[fieldName] >= b[fieldName] ? 1 : -1;
                }
            },
            changeState() {
                const currentState = this.sortState;
                this.sortState = currentState === 'default' || currentState === 'asc' ? 'desc' : 'asc';
            },
        },
        async mounted() {
            if (!this.currentUser || !this.currentUser.can('viewAdminPanel')) {
                this.forbidden = true;
                return;
            }
            await this.fetchCollectionNames();

            if (this.fetchCollectionNamesError === null) {
                this.names = this.collectionNames;
                this.fields = this.getVisibleFields('subject');

                const index = localStorage.getItem('activeItem') ?? '0';
                this.handlerItemClick(this.names[parseInt(index)]);
            } else {
                this.error = this.fetchCollectionNamesError;
            }
        },
        watch: {
            sortParam: function () {
                this.data.sort(
                    this.sortByField(this.sortParam, this.sortState)
                );
            },
            sortState: function () {
                this.data.sort(
                    this.sortByField(this.sortParam, this.sortState)
                );
            },
            findParam: function () {
                const findInput = document.getElementById('find');
                if (findInput) {
                    findInput.focus();

                    this.findValue = '';
                    this.data = this.initialData;
                }

            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../assets/styles/utils";
    @import "../../assets/styles/colors";
    @import "../../assets/styles/mixins";
    @import "../../assets/styles/images";

    $radius: 30px;

    select {
        padding-left: .25vw;
    }

    .dashboard {
        display: flex;
        flex-direction: row;
    }

    .nav {
        &-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            //flex: 2;
            width: 20vw;
            //max-width: 22vw;

            height: 100%;
        }

        &-header {
            align-self: center;
            width: 100%;
            height: 15vh;
            margin: 0;
            padding-bottom: 2vh;

            font: {
                size: 1.75vw;
                weight: bold;
            }
            color: $milk;
            line-height: 15vh;
            text-align: center;

            background-color: $strawberry;
        }

        &-items {
            margin: 0;
            padding: 0 0 0 1.75vw;

            color: $milk;
            text-transform: capitalize;
            cursor: pointer;
            background-color: $strawberry;
        }

        &-item {
            $item: &;
            padding-left: 2.2vw;

            font-size: 1.1vw;
            line-height: 8vh;

            &-container {
                background-color: $milk;

                &--active {
                    background-color: $strawberry;
                }
            }

            &--active {
                color: $strawberry;
                background-color: $milk;
                border-bottom-left-radius: $radius;
                border-top-left-radius: $radius;
            }

            background-color: $strawberry;
        }

        &-footer {
            padding-bottom: 2vh;
            display: flex;
            flex-direction: column-reverse;
            height: inherit;
            background-color: $strawberry;

            &__container {
            }

            &__item {
                &-exit {
                    text-indent: 2.25vw;
                    @include svgBg($logoutWhite, 2vw, 1.75vw);
                }

                &-statistics {
                    text-indent: 2.25vw;
                    @include svgBg($statistics, 1.5vw, 1.75vw);
                }
            }
        }
    }

    .main {
        &-container {
            width: 76.5vw;
            //flex: 8;
            height: 100%;
            padding-left: 3.5vw;

            background-color: $milk;
        }

        &-title {
            margin-bottom: 1vh;
            padding-bottom: 2vh;

            font: {
                size: 1.5vw;
                weight: 500;
            }
            color: $strawberry;
            text-transform: capitalize;

            border-bottom: 1px solid $granola;
        }

        &-content {
            $content: &;
            width: 95%;
            height: 72%;
            display: flex;
            flex-direction: row;

            overflow-y: scroll;

            &__buttons {
                height: 7vh;

                padding: 0 !important;

                &-title {
                    opacity: 0;
                }
            }

            &__button {
                width: 3vw;
                margin: auto .1vw;
                padding: 0;
                height: inherit;
                border: none;
                outline: none;
                cursor: pointer;
                opacity: .5;

                &-edit {
                    @include svgBg($edit, 1.9vw);
                }

                &-delete {
                    @include svgBg($delete, 1.9vw);
                }

                &-view {
                    @include svgBg($view, 1.9vw);
                }

                &:hover {
                    transform: scale(1.05);
                    opacity: 1;
                }
            }

            &__field {
                text-transform: uppercase;
                color: $light-gray;
            }

            &__field {
                padding: 2vh 2vw 2vh 0;

                &--s {
                    flex: 1;
                }

                &--m {
                    flex: 2;
                }

                &--l {
                    flex: 3;
                }
            }

            &__rows {
                display: flex;
                flex-direction: column;
                margin-top: 1vh;

                #{$content}__field {
                    text-transform: none;
                    color: black;
                }
            }

            &__row {
                display: flex;
                flex-direction: row;
                height: 7vh;

                border-bottom: 1px solid #9992;
            }
        }

        &-btn-add {
            position: absolute;
            bottom: 3vh;
            right: 3vw;
            width: 2vw;
            height: 2vw;
            padding: 1.5vw;

            border: none;
            border-radius: 50px;
            box-shadow: 0 0 5px $strawberry;
            @include svgBg($add, 2vw, .5vw);

            transform: rotate(180deg);
            cursor: pointer;

            > span {
                position: relative;
                top: -2vw;
                left: 1.2vw;
                line-height: 4vw;
                font-size: 1.3vw;
                text-transform: uppercase;
                color: $strawberry;
                opacity: 0;
            }

            &:hover {
                transform: rotate(360deg);
                transition-duration: .7s;
                animation: growing .5s ease-out 0.4s 1 alternate forwards;

                > span {
                    animation: show .5s linear .6s 1 alternate both;
                }
            }
        }
    }

    .tools {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 73vw;
        padding-bottom: 1vh;
        margin-bottom: 1vh;

        border-bottom: 1px solid $light-gray-translucent;

        &, input {
            height: 4vh;
        }

        input, select {
            &, &:focus, &:active {
                font-family: "Bookman Old Style", sans-serif;
                border: 1px solid $light-gray;
                border-radius: 7px;
                outline: none;
            }
        }

        select {
            height: 4.5vh;
            width: 10vw;
        }

        label {
            margin: auto .5vw auto 1.5vw;
            font-size: 1vw;
        }
    }

    .tool {
        &-find {
            &__value {
                width: 28vw;
                padding-left: 2vw;
                padding-right: .5vw;

                @include svgBg($search, 1.2vw, .4vw);
            }
        }

        &-sort {
            display: flex;
            align-items: center;

            &__state {
                all: unset;
                width: 2vw;
                height: 3vh;
                margin-left: .25vw;
                padding: 0;

                &--asc {
                    //@include svgBg($add, 2vw, .5vw);
                    @include bg('sort_asc');
                }

                &--desc {
                    @include bg('sort_desc');
                }
            }
        }

        &-clear {
            all: unset;
            width: 7.5vw;
            height: 4.5vh;

            line-height: 4vh;
            font-size: 1vw;
            text-indent: 2.35vw;

            @include svgBg($cancel, 1vw, .75vw);
            cursor: pointer;
            border: none;
            border-radius: 20px;
            box-shadow: 0 0 2px $strawberry;

            &:hover {
                box-shadow: 0 0 4px $strawberry;
            }
        }
    }

    .statistics {

    }

    @keyframes growing {
        0% {
            width: 2vw;
            background-position: .5vw center;
        }
        100% {
            width: 7vw;
            background-position: .5vw center;
        }
    }

    @keyframes show {
        0% {
            opacity: 0;
        }
        100% {
            opacity: .8;
        }
    }

    .before-active {
        border-bottom-right-radius: $radius;
    }

    .after-active {
        border-top-right-radius: $radius;
    }

    .not-founded {
        margin-top: 4vh;
        font: {
            size: 2vw;
            weight: 600;
        }
        text-indent: 3.5vw;

        @include svgBg($warning, $left: left);
    }

    .forbidden {
        font: {
            size: 2vw;
            weight: bold;
        }
        color: $strawberry;
        text-indent: 3vw;

        @include svgBg($warning, 1.8vw, left);
    }
</style>