<template>
    <div class="info-container full-screen">
        <p class="info-header">Token Information</p>
        <div class="info-items" v-if="token._id">
            <div class="info-item">
                <div class="info-item-name">
                    <span>ID</span>
                </div>
                <div class="info-item-value">
                    <span>{{token._id}}</span>
                </div>
            </div>
            <div class="info-item">
                <div class="info-item-name">
                    <span>Token</span>
                </div>
                <div class="info-item-value">
                    <span v-for="(n, key) in rowsAmount" :key="key">
                        <span>{{token.token.slice((n-1) * maxLength, n * maxLength)}}</span> <br/>
                    </span>
                </div>
            </div>
            <div class="info-item">
                <div class="info-item-name">
                    <span>UserId</span>
                </div>
                <div class="info-item-value">
                    <span>{{token.userId}}</span>
                </div>
            </div>
        </div>
        <button class="btn-back" @click="handlerBackClick">Back</button>
        <Error v-if="error" :message="error"/>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import {defineAsyncComponent} from 'vue';
    
    export default {
        name: "TokenView",
        data: () => ({
            rowsAmount: 0,
            maxLength: 0,
            error: null
        }),
        components: {
            Error: defineAsyncComponent(() => import('../../components/Error.vue')),
        },
        computed: {
            ...mapGetters({
                token: 'token',
                fetchTokenError: 'fetchTokenError'
            }),
        },
        methods: {
            ...mapActions({
                fetchToken: 'fetchToken',
            }),
            handlerBackClick() {
                this.$router.back();
            },
            setValues() {
                const clientWidth = document.documentElement.clientWidth;
                this.maxLength = clientWidth * 0.045;
                this.rowsAmount = Math.ceil(this.token.token.length / this.maxLength);
            }
        },
        async mounted() {
            const tokenId = this.$route.params.id;
            await this.fetchToken(tokenId);
            this.error = this.fetchTokenError;

            this.setValues();
            window.addEventListener('resize', () => {
                this.setValues();
            })
        },
    }
</script>

<style lang="scss" scoped>
    @import "../../assets/styles/utils";
    @import "../../assets/styles/colors";
    @import "../../assets/styles/main";
    @import "../../assets/styles/info";
    @import "../../assets/styles/buttons";
</style>