<template>
    <div class="form__container">
        <p class="form__title">New ability</p>
        <form class="form" @submit.prevent="handlerSubmit">
            <div class="form__items">
                <div class="form__item">
                    <label class="form__item-label" for="name">Role</label>
                    <input
                            class="form__item-field"
                            type="text" id="name"
                            autocomplete="off"
                            v-model="abilityData.role"
                            required="required"
                    />
                </div>
                <div class="form__item">
                    <label for="role" class="form__item-label">Abilities</label>
                    <select
                            class="form__item-field"
                            id="role"
                            name="role"
                            v-model="abilityData.abilities"
                    >
                        <option
                                :v-model="abilities"
                                v-bind:value="ability"
                                v-for="(ability, key) in abilities"
                                :key="key"
                        >
                            {{ability}}
                        </option>
                    </select>
                </div>
                <div class="buttons-container">
                    <button class="btn-create" type="submit">Create</button>
                    <button class="btn-back" type="button" @click="handlerCancelClick">Cancel</button>
                </div>
            </div>
        </form>
        <Error v-if="error" :message="error"/>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';
    import {defineAsyncComponent} from 'vue'

    export default {
        name: "Add",
        data: () => ({
            abilityData: {
                role: '',
                abilities: []
            },
            abilities: ['viewProfile', 'edit', 'viewAdminPanel'],
            error: null
        }),
        computed: {
            ...mapGetters({
                createAbilityError: 'createAbilityError'
            })
        },
        components: {
            Error: defineAsyncComponent(() => import('../../components/Error.vue')),
        },
        methods: {
            ...mapActions({
                createAbility: 'createAbility'
            }),
            handlerCancelClick() {
                this.$router.back();
            },
            async handlerSubmit() {
                await this.createAbility(this.abilityData);

                if (!this.createAbilityError) {
                    this.$router.back();
                } else {
                    this.error = this.createAbilityError;
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../assets/styles/forms";
    @import "../../assets/styles/buttons";
</style>