<template>
    <div v-if="ability">
        <div class="form__container">
            <p class="form__title">Edit Ability</p>
            <form class="form" @submit.prevent="onSubmit">
                <div class="form__items">
                    <div class="form__item">
                        <label class="form__item-label">ID: {{ability._id}}</label>
                    </div>
                    <div class="form__item">
                        <label class="form__item-label" for="role">Role</label>
                        <input
                                class="form__item-field"
                                type="text"
                                id="role"
                                name="role"
                                v-model="abilityData.role"
                                required="required"
                                autocomplete="off"
                        />
                    </div>
                    <div class="form__item">
                        <label class="form__item-label" for="ability">Abilities</label>
                        <select class="form__item-field" id="ability" name="ability" multiple>
                            <option
                                    v-for="(ability, key) in abilityData.abilities"
                                    :key="key"
                            >
                                {{ability}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="buttons-container">
                    <button class="btn-save" type="submit">Save</button>
                    <button class="btn-back" type="button" @click="handlerCancelClick">Cancel</button>
                </div>
            </form>
        </div>
        <p v-if="isUpdating">Updating...</p>
        <Error v-if="error" :message="error"/>
    </div>
    <div v-else>Loading...</div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';
    import {defineAsyncComponent} from 'vue'

    export default {
        name: "AbilityEdit",
        props: {},
        data: () => ({
            isUpdating: false,
            abilityData: {
                role: '',
                abilities: []
            },
            error: null
        }),
        components: {
            Error: defineAsyncComponent(() => import('../../components/Error.vue')),
        },
        computed: {
            ...mapGetters({
                ability: 'ability',
                fetchAbilityError: 'fetchAbilityError',
                updateAbilityError: 'updateAbilityError'
            }),
        },
        methods: {
            ...mapActions({
                fetchAbility: 'fetchAbility',
                updateAbility: 'updateAbility'
            }),
            async onSubmit() {
                this.isUpdating = true;

                await this.updateAbility({
                    id: this.ability._id,
                    payload: {
                        ...this.abilityData
                    }
                });

                this.isUpdating = false;

                if (!this.updateAbilityError) {
                    this.$router.back();
                } else {
                    this.error = this.updateAbilityError;
                }
            },
            handlerCancelClick() {
                this.$router.back();
            }
        },
        async mounted() {
            const abilityId = this.$route.params.id;
            await this.fetchAbility(abilityId);

            if (this.fetchAbilityError) {
                this.error = this.fetchAbilityError;
            } else {
                this.abilityData = {
                    role: this.ability.role,
                    abilities: this.ability.abilities,
                };
            }
        },
    }
</script>

<style lang="scss" scoped>
    @import "../../assets/styles/main";
    @import "../../assets/styles/buttons";
    @import "../../assets/styles/forms";
</style>