<template>
    <div class="info-container full-screen">
        <p class="info-header">Ability Information</p>
        <div class="info-items" v-if="ability._id">
            <div class="info-item">
                <div class="info-item-name">
                    <span>ID</span>
                </div>
                <div class="info-item-value">
                    <span>{{ability._id}}</span>
                </div>
            </div>
            <div class="info-item">
                <div class="info-item-name">
                    <span>Role</span>
                </div>
                <div class="info-item-value">
                    <span>{{ability.role}}</span>
                </div>
            </div>
            <div class="info-item">
                <div class="info-item-name">
                    <span>Abilities</span>
                </div>
                <div class="info-item-value">
                    <ul>
                        <li
                                v-for="(item, key) in ability.abilities"
                                :key="key"
                        >
                            {{item}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <button class="btn-back" @click="handlerBackClick">Back</button>
        <Error v-if="error" :message="error"/>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import {defineAsyncComponent} from 'vue'

    export default {
        name: "AbilityView",
        computed: {
            ...mapGetters({
                ability: 'ability',
                fetchAbilityError: 'fetchAbilityError'
            }),
        },
        components: {
            Error: defineAsyncComponent(() => import('../../components/Error.vue')),
        },
        data: () => ({
            error: null
        }),
        methods: {
            ...mapActions({
                fetchAbility: 'fetchAbility',
            }),
            handlerBackClick() {
                this.$router.back();
            }
        },
        async mounted() {
            const abilityId = this.$route.params.id;
            await this.fetchAbility(abilityId);

            if (this.fetchAbilityError) {
                this.error = this.fetchAbilityError;
            }
        },
    }
</script>

<style lang="scss" scoped>
    @import "../../assets/styles/utils";
    @import "../../assets/styles/colors";
    @import "../../assets/styles/main";
    @import "../../assets/styles/info";
    @import "../../assets/styles/buttons";
</style>