<template>

    <div id="nav">
        <router-view/>
    </div>

</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        name: 'App',
        components: {

        },
        computed: {
            ...mapGetters({
                currentUser: 'currentUser'
            })
        },
    };
</script>

<style lang="scss" scoped>

</style>
