<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Graph</title>
    <style>
      html,
      body {
        margin: 0;
        padding: 0;

        background-color: #fcfdfe;
        overflow-y: hidden;
      }

      body > * {
        font-family: "Bookman Old Style", sans-serif;
        user-select: none;
      }

      button, button:active, button:focus {
        outline: none;
      }

      ::-webkit-scrollbar {
        height: 0;
        width: 0;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
