<template>
    <div class="form__container">
        <p class="form__title">New user</p>
        <form class="form" @submit.prevent="handlerSubmit">
            <div class="form__items">
                <div class="form__item">
                    <label for="nickname" class="form__item-label">Nickname</label>
                    <input
                            id="nickname"
                            class="form__item-field"
                            type="text"
                            v-model="userData.nickname"
                            name="nickname"
                            required="required"
                            autocomplete="off"
                    />
                </div>
                <div class="form__item">
                    <label for="email" class="form__item-label">Email</label>
                    <input
                            id="email"
                            class="form__item-field"
                            type="email"
                            v-model="userData.email"
                            name="email"
                            required="required"
                            autocomplete="off"
                    />
                </div>
                <div class="form__item">
                    <label for="password" class="form__item-label">Password</label>
                    <input
                            id="password"
                            class="form__item-field"
                            type="password"
                            v-model="userData.password"
                            name="password"
                            required="required"
                            autocomplete="off"
                    />
                </div>

                <div class="form__item">
                    <label for="role" class="form__item-label">Role</label>
                    <select
                            class="form__item-field"
                            id="role"
                            name="role"
                            v-model="userData.role"
                    >
                        <option
                                :v-model="roles"
                                v-bind:value="role"
                                v-for="(role, key) in roles"
                                :key="key"
                        >
                            {{role}}
                        </option>
                    </select>
                </div>

                <div class="buttons-container">
                    <button class="btn-create" type="submit">Create</button>
                    <button class="btn-back" type="button" @click="handlerCancelClick">Cancel</button>
                </div>
            </div>
        </form>
        <Error v-if="error" :message="error"/>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';
    import {defineAsyncComponent} from 'vue';

    export default {
        name: "Add",
        data: () => ({
            userData: {
                nickname: '',
                email: '',
                password: '',
                role: ''
            },
            roles: ['student', 'teacher', 'admin'],
            error: null
        }),
        computed: {
            ...mapGetters({
                createUserError: 'createUserError'
            })
        },
        components: {
            Error: defineAsyncComponent(() => import('../../components/Error.vue')),
        },
        methods: {
            ...mapActions({
                createUser: 'createUser'
            }),
            handlerCancelClick() {
                this.$router.back();
            },
            async handlerSubmit() {
                await this.createUser(this.userData);
                this.error = this.createUserError;

                if (!this.error) {
                    this.$router.back();
                }
            }
        },
    }
</script>

<style lang="scss" scoped>
    @import "../../assets/styles/main";
    @import "../../assets/styles/forms";
    @import "../../assets/styles/buttons";
</style>