<template>
    <Header title="User: edit" v-if="!isAdminPanelCaller"/>

    <div v-if="user">
        <div class="form__container">
            <p class="form__title">Edit User</p>
            <form class="form" @submit.prevent="onSubmit">
                <div class="form__items">
                    <div class="form__item">
                        <label class="form__item-label">ID: {{user._id}}</label>
                    </div>
                    <div class="form__item">
                        <label class="form__item-label" for="email">Email</label>
                        <input
                                class="form__item-field"
                                type="email"
                                id="email"
                                name="email"
                                v-model="userData.email"
                                autocomplete="off"
                                required="required"
                        />
                    </div>
                    <div class="form__item">
                        <label class="form__item-label" for="nickname">Nickname</label>
                        <input
                                class="form__item-field"
                                type="text"
                                id="nickname"
                                name="nickname"
                                v-model="userData.nickname"
                                autocomplete="off"
                                required="required"
                        />
                    </div>
                    <div class="form__item">
                        <label class="form__item-label">Role: {{userData.role}}</label>
                    </div>
                </div>
                <div class="buttons-container">
                    <button class="btn-save" type="submit">Save</button>
                    <button class="btn-back" type="button" @click="handlerCancelClick">Cancel</button>
                </div>
            </form>
        </div>
        <p v-if="isUpdating">Updating...</p>
        <Error v-if="error" :message="error"/>
    </div>
    <div v-else>Loading...</div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';
    import {defineAsyncComponent} from 'vue'

    export default {
        name: "UserEdit",
        props: {},
        data: () => ({
            isAdminPanelCaller: false,
            isUpdating: false,
            userData: {
                email: '',
                nickname: '',
                role: '',
            },
            error: null
        }),
        components: {
            Header: defineAsyncComponent(() => import('../../components/Header.vue')),
            Error: defineAsyncComponent(() => import('../../components/Error.vue')),
        },
        computed: {
            ...mapGetters({
                user: 'user',
                fetchUserError: 'fetchUserError',
                updateUserError: 'updateUserError'
            }),
        },
        methods: {
            ...mapActions({
                fetchUser: 'fetchUser',
                updateUser: 'updateUser'
            }),
            async onSubmit() {
                this.isUpdating = true;

                await this.updateUser({
                    id: this.user._id,
                    payload: {
                        ...this.userData,
                    }
                });
                this.error = this.updateUserError;
                this.isUpdating = false;

                if (!this.error) {
                    this.$router.back();
                }
            },
            handlerCancelClick() {
                this.$router.back();
            }
        },
        async mounted() {
            const userId = this.$route.params.id;
            const caller = this.$route.params.caller;
            await this.fetchUser(userId);
            this.error = this.fetchUserError;

            this.isAdminPanelCaller = caller && caller === 'admin-panel';
            this.userData = {
                email: this.user.email,
                nickname: this.user.nickname,
                role: this.user.role,
            };
        },
    }
</script>

<style lang="scss" scoped>
    @import "../../assets/styles/main";
    @import "../../assets/styles/buttons";
    @import "../../assets/styles/forms";
</style>