<template>
    <div class="info-container full-screen">
        <p class="info-header">User Information</p>
        <div class="info-items" v-if="user._id">
            <div class="info-item">
                <div class="info-item-name">
                    <span>ID</span>
                </div>
                <div class="info-item-value">
                    <span>{{user._id}}</span>
                </div>
            </div>
            <div class="info-item">
                <div class="info-item-name">
                    <span>Email</span>
                </div>
                <div class="info-item-value">
                    <span>{{user.email}}</span>
                </div>
            </div>
            <div class="info-item">
                <div class="info-item-name">
                    <span>Nickname</span>
                </div>
                <div class="info-item-value">
                    <span>{{user.nickname}}</span>
                </div>
            </div>
            <div class="info-item">
                <div class="info-item-name">
                    <span>Role</span>
                </div>
                <div class="info-item-value">
                    <span>{{user.role}}</span>
                </div>
            </div>
            <div class="info-item">
                <div class="info-item-name">
                    <span>Date of registration</span>
                </div>
                <div class="info-item-value">
                    <span>{{user.registrationDate}}</span>
                </div>
            </div>
        </div>
        <button class="btn-back" @click="handlerBackClick">Back</button>
        <Error v-if="error" :message="error"/>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import {defineAsyncComponent} from 'vue';
    
    export default {
        name: "UserView",
        computed: {
            ...mapGetters({
                user: 'user',
                fetchUserError: 'fetchUserError'
            }),
        },
        components: {
            Error: defineAsyncComponent(() => import('../../components/Error.vue')),
        },
        data: () => ({
            error: null
        }),
        methods: {
            ...mapActions({
                fetchUser: 'fetchUser',
            }),
            handlerBackClick() {
                this.$router.back();
            }
        },
        async mounted() {
            const userId = this.$route.params.id;
            await this.fetchUser(userId);
            this.error = this.fetchUserError;

            const date = new Date(this.user.registrationDate);
            const options = {
                year: 'numeric',
                month: 'long',
                day: 'numeric',
                timezone: 'UTC',
            };

            this.user.registrationDate = date.toLocaleString('en', options);
        },
    }
</script>

<style lang="scss" scoped>
    @import "../../assets/styles/utils";
    @import "../../assets/styles/colors";
    @import "../../assets/styles/main";
    @import "../../assets/styles/info";
    @import "../../assets/styles/buttons";
</style>