<template>
    <Header
            :title="subject.name"
            @changeMode="changeMode"
            :isEditNeeded="subject.child && subject.child.length > 0"
    />

    <div class="graph" :ref="child && child.length > 0 ? 'draggableContainer' : ''" id="graph">
        <div v-if="child && child.length > 0" class="graph__container">
            <div
                    class="graph__child"
                    v-for="(children, key) in child"
                    :key="key"
                    :class="getNextChildLength(children) < 2 ? 'align-start' : ''"
            >
                <Node
                        :nodeData="children"
                        :index="key"
                        :isEditMode="isEditMode"
                        @handlerDeleteClick="handlerDeleteClick"
                        :completed="completed"
                />
            </div>
            <div
                    v-if="lines.length > 0"
                    v-html="lines" class="lines"
                    :class="isEditMode ? 'editable' : ''"
            ></div>
            <button class="return" @click="handlerReturnClick"></button>
        </div>
        <div v-else-if="child && child.length === 0 && !isLoading" class="empty" id="empty">
            <p class="message">This graph is empty</p>
            <span class="help" v-if="user && isCurrentUserAuthor">
                Press <button class="btn-default" @click="handlerAddClick">Add</button> to add a new item
            </span>
        </div>
        <Error v-if="error" :message="error"/>
    </div>
</template>

<script>
    import {defineAsyncComponent} from 'vue'
    import {mapActions, mapGetters} from 'vuex';

    export default {
        name: "Graph",
        data: () => ({
            position: {
                clientX: 0,
                clientY: 0,
                movementX: 0,
                movementY: 0
            },
            graphWidth: 0,
            graphHeight: 0,

            lines: '',

            isEditMode: false,
            isLoading: false,
            isCurrentUserAuthor: false,

            child: null,
            error: null,
            user: null,
            completed: {},
        }),
        components: {
            Node: defineAsyncComponent(() => import('../components/Node.vue')),
            Header: defineAsyncComponent(() => import('../components/Header.vue')),
            Error: defineAsyncComponent(() => import('../components/Error.vue')),
        },
        computed: {
            ...mapGetters({
                subject: 'subject', fetchSubjectError: 'fetchSubjectError',
                subjectChild: 'subjectChild', fetchSubjectChildError: 'fetchSubjectChildError',
                userCompletedStages: 'userCompletedStages',
                fetchCompletedStagesByIdError: 'fetchCompletedStagesByIdError',
                updateLectureError: 'updateLectureError', deleteLectureError: 'deleteLectureError',
                lecture: 'lecture', fetchLectureError: 'fetchLectureError',
                currentUser: 'currentUser'
            }),
        },
        methods: {
            ...mapActions({
                fetchSubject: 'fetchSubject',
                fetchSubjectChild: 'fetchSubjectChild',
                fetchLecture: 'fetchLecture',
                updateLecture: 'updateLecture',
                deleteLecture: 'deleteLecture',
                fetchCompletedStagesByUserId: 'fetchCompletedStagesByUserId'
            }),
            async init() {
                this.isLoading = true;

                const subjectId = this.$route.params.id;
                await this.fetchSubject(subjectId);
                await this.fetchSubjectChild(subjectId);
                this.error = this.fetchSubjectError ?? this.fetchSubjectChildError;

                this.isCurrentUserAuthor = this.user && this.subject.author === this.user._id;

                this.subjectChild.then(result => {
                    this.isLoading = false;
                    this.child = result;
                    console.log('!!!', this.child, this.child.length);

                    this.createLines();
                });
            },
            createLines() {
                const graph = document.getElementById('graph');
                const graphContainer = document.getElementsByClassName('graph__container')[0];
                const nodes = document.getElementsByClassName('graph__node');

                if (!graph || nodes.length === 0 || !graphContainer) {
                    setTimeout(() => this.createLines(), 10);
                    return;
                }

                graphContainer.addEventListener('mousedown', this.handlerMouseDown);

                const position = sessionStorage;
                if (position.left && position.top) {
                    graph.style.top = position.top;
                    graph.style.left = position.left;
                }
                graphContainer.style.opacity = '1';

                console.log(this.graphWidth);
                this.graphWidth = graph.clientWidth;
                this.graphHeight = graph.clientHeight;

                let lines = '';

                for (let i = 1; i < nodes.length; i++) {
                    const parentId = nodes[i].getAttribute('parentId');

                    const parent = document.getElementById(parentId);
                    if (parent) {
                        const isCompleted = parent.getAttribute('isCompleted');
                        const color = isCompleted === 'true' ? '#2e8fd8' : '#2ed8b3';

                        const parentIcon = parent;
                        const elementIcon = nodes[i];

                        const coordinates = {
                            x1: parentIcon.offsetLeft + parentIcon.clientWidth / 2,
                            y1: parentIcon.offsetTop + parentIcon.clientHeight / 2,
                            x2: elementIcon.offsetLeft + elementIcon.clientWidth / 2,
                            y2: elementIcon.offsetTop + elementIcon.clientHeight / 2,
                        };

                        lines += `<line x1="${coordinates.x1}" y1="${coordinates.y1}" ` +
                            `x2="${coordinates.x2}" y2="${coordinates.y2}" ` +
                            `stroke="${color}" stroke-width="2"/>`;
                    }
                }

                this.lines = `<svg style="width: ${this.graphWidth}; height: ${this.graphHeight}; ` +
                    `opacity: ${this.isEditMode ? '.8' : '1'}; z-index: -1">${lines}</svg>`;
                window.addEventListener('resize', this.handlerResize);
            },
            changeMode() {
                this.isEditMode = sessionStorage.getItem('isEditMode') === 'true';
            },
            async handlerDeleteClick(id, parentId) {
                if (confirm('Are you sure you want to delete this item?')) {

                    await this.fetchLecture(parentId);
                    this.error = this.fetchLectureError;

                    const parent = this.lecture;
                    if (parent) {
                        parent.child = parent.child.filter(
                            children => children.id !== id
                        );

                        await this.updateLecture({
                            id: parentId,
                            payload: parent
                        });

                        await this.deleteLecture(id);
                        this.error = this.updateLectureError ?? this.deleteLectureError;
                    } else {
                        this.error = `Can't delete root node`;
                    }



                    if (!this.error) {
                        const left = parseInt(sessionStorage.getItem('left'))
                            + document.documentElement.clientWidth / 5 + 'px';
                        sessionStorage.setItem('left', left);
                        location.reload();
                    }
                }
            },
            handlerAddClick() {
                this.$router.push(`/lecture/${this.subject._id}/add/root`);
            },
            handlerReturnClick() {
                sessionStorage.setItem('left', this.graphHeight / 10 + 'px');
                sessionStorage.setItem('left', '0px');

                this.$refs.draggableContainer.style.top = this.graphHeight / 10 + 'px';
                this.$refs.draggableContainer.style.left = '0px';
            },
            getNextChildLength(currentChildren) {
                const currentIndex = this.child.indexOf(currentChildren);
                const nextChild = this.child[currentIndex + 1];
                return nextChild ? nextChild.length : 0
            },
            handlerMouseDown(event) {
                event.preventDefault();

                this.position.clientX = event.clientX;
                this.position.clientY = event.clientY;

                document.onmousemove = this.moveElement;
                document.onmouseup = this.completeMovement;
            },
            moveElement(event) {
                event.preventDefault();

                if (!this.$refs.draggableContainer) {
                    return;
                }

                this.position.movementX = this.position.clientX - event.clientX;
                this.position.movementY = this.position.clientY - event.clientY;

                this.position.clientX = event.clientX;
                this.position.clientY = event.clientY;

                const top = this.$refs.draggableContainer.offsetTop - this.position.movementY;
                const left = this.$refs.draggableContainer.offsetLeft - this.position.movementX;
                const leftCondition = left > 80 || left < -this.graphWidth / 4.5;
                const topCondition = top > this.graphHeight / 7 || top < -this.graphHeight / 10;

                if (leftCondition || topCondition) {
                    console.log('here');
                }

                this.$refs.draggableContainer.style.top = top + 'px';
                this.$refs.draggableContainer.style.left = left + 'px';
            },
            completeMovement() {
                if (!this.$refs.draggableContainer) {
                    return;
                }

                sessionStorage.setItem('top', this.$refs.draggableContainer.style.top);
                sessionStorage.setItem('left', this.$refs.draggableContainer.style.left);
                document.onmouseup = null;
                document.onmousemove = null;
            },
            handlerResize() {
                this.createLines();
            },
            isCompleted(id) {
                return this.completed.lectures.includes(id);
            }
        },
        async mounted() {
            this.isEditMode = sessionStorage.getItem('isEditMode') === 'true';

            this.user = JSON.parse(localStorage.getItem('user'));
            if (this.user) {
                await this.fetchCompletedStagesByUserId(this.user._id);
                this.error = this.fetchCompletedStagesByIdError;
                this.completed = this.userCompletedStages ?? {};
            }

            await this.init();
        },
    }

</script>

<style lang="scss" scoped>
    @import "../../src/assets/styles/main";
    @import "../../src/assets/styles/utils";
    @import "../../src/assets/styles/layers";
    @import "../../src/assets/styles/colors";
    @import "../../src/assets/styles/buttons";
    @import "../../src/assets/styles/images";
    @import "../../src/assets/styles/mixins";

    .graph {
        position: absolute;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        z-index: $graph-layer;

        &-root {
            position: absolute;
            top: 0;
            width: 100vw;

            font-size: 3vw;

            color: #00ccff;
            text-shadow: 1px 1px 2px #3b67c6;
            text-align: center;
        }

        &__container {
            width: max-content;

            display: flex;
            flex-direction: row;

            opacity: 0;
            transition: opacity .25s;
        }

        &__child {
            display: flex;
            flex-direction: column;
            justify-content: center;

            &-line {
                position: absolute;
                margin-left: 12vw;
            }
        }
    }

    .lines {
        position: absolute;
        top: 0;

        z-index: $lines-layer;
    }

    .empty {
        width: 100vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }

    .message {
        margin-top: 0;
        font: {
            size: 4vw;
            weight: bold;
        }
        color: $strawberry;
    }

    .help {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 26vw;
        height: 5vh;

        font-size: 1.8vw;
        color: black;

        > button {
            margin: auto .5vw;
        }
    }

    .return {
        position: fixed;
        bottom: 2vh;
        left: 1vw;
        width: 1.5vw;
        height: 1.5vw;

        @include svgBg($returnGraph);
        z-index: 25;
    }
</style>