<template>
    <div class="home">
        <Header title="Main" @changeMode="changeMode"/>

        <Subjects />
    </div>


</template>

<script>
    import {defineAsyncComponent} from 'vue'

    export default {
        name: "Home",
        components: {
            Header: defineAsyncComponent(() => import('../components/Header.vue')),
            Subjects: defineAsyncComponent(() => import('../components/Subjects.vue')),
        },
        data: () => ({
            isEditMode: false,
        }),
        methods: {
            changeMode() {
                this.isEditMode = !this.isEditMode;
            }
        },
        mounted() {
            sessionStorage.removeItem('left');
            sessionStorage.removeItem('top');
        }
    };
</script>

<style lang="scss" scoped>
    .home {
        display: flex;
        flex-direction: column;
    }
</style>
