<template>
    <div class="form__container">
        <form class="form" @submit.prevent="handlerSubmit" autocomplete="off">
            <p class="form__title">LOG IN</p>
            <div class="form__item">
                <label for="email" class="form__item-label">Email</label>
                <input
                        id="email"
                        class="form__item-field"
                        type="email"
                        v-model="email"
                        name="email"
                />
            </div>
            <div class="form__item">
                <label for="password" class="form__item-label">Password</label>
                <input
                        id="password"
                        class="form__item-field"
                        type="password"
                        v-model="password"
                        name="password"
                />
            </div>
            <div class="buttons-container">
                <button class="btn-back" type="button" @click="handlerBackClick">Back</button>
                <button class="btn-go">Login</button>
            </div>
        </form>
        <div class="form__error" id="error" v-if="error">
            <p>{{error}}</p>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';

    export default {
        name: "Login",
        data: () => ({
            email: '',
            password: '',
            error: null
        }),
        computed: {
            ...mapGetters({
                currentUser: 'currentUser',
                loginError: 'loginError'
            })
        },
        methods: {
            ...mapActions({
                login: 'login'
            }),
            async handlerSubmit() {
                await this.login({
                    email: this.email,
                    password: this.password
                });

                if (this.loginError !== null) {
                    this.error = 'Wrong email or password!';
                    const inputs = document.getElementsByTagName('input');
                    for (let input of inputs) {
                        input.addEventListener('focus', this.handlerFocus);
                    }
                } else {
                    await this.$router.push('/');
                }
            },
            async handlerFocus() {
                this.error = null;

                const inputs = document.getElementsByTagName('input');
                for (let input of inputs) {
                    input.removeEventListener('focus', this.handlerFocus);
                }
            },
            handlerBackClick() {
                this.$router.back();
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../assets/styles/forms";
    @import "../assets/styles/buttons";
</style>