<template>
    <div class="form__container">
        <form class="form" @submit.prevent="handlerSubmit" autocomplete="off">
            <p class="form__title">Create an account</p>
            <div class="form__item">
                <label for="nickname" class="form__item-label">Nickname</label>
                <input
                        id="nickname"
                        class="form__item-field"
                        type="text"
                        v-model="nickname"
                        name="nickname"
                        @blur="handlerNicknameBlur"
                        @focus="handlerNicknameFocus"
                />
                <p
                        class="form__error--inline"
                        v-if="!nicknameState && nicknameState !== null"
                >
                    This nickname is already used.
                </p>
            </div>
            <div class="form__item">
                <label for="email" class="form__item-label">Email</label>
                <input
                        id="email"
                        class="form__item-field"
                        type="email"
                        v-model="email"
                        name="email"
                        @blur="handlerEmailBlur"
                        @focus="handlerEmailFocus"
                />
                <p
                        class="form__error--inline"
                        v-if="!emailState && emailState !== null"
                >
                    This email is already used.
                </p>
            </div>
            <div class="form__item">
                <label for="password" class="form__item-label">Password</label>
                <input
                        id="password"
                        class="form__item-field"
                        type="password"
                        v-model="password"
                        name="password"
                        @blur="handlerPasswordBlur"
                        @focus="handlerPasswordFocus"
                />
            </div>
            <div class="form__item">
                <label for="retypedPassword" class="form__item-label">Retype password</label>
                <input
                        id="retypedPassword"
                        class="form__item-field"
                        type="password"
                        v-model="retypedPassword"
                        name="retypedPassword"
                        @blur="handlerPasswordBlur"
                        @focus="handlerPasswordFocus"
                />
                <p
                        class="form__error--inline"
                        id="retypedPasswordError"
                        v-if="!retypedPasswordState && retypedPasswordState !== null"
                >
                    Incorrect retyped password.
                </p>
            </div>
            <div class="buttons-container">
                <button class="btn-back" type="button" @click="handlerBackClick">Back</button>
                <button class="btn-go">Sign Up</button>
            </div>
        </form>
        <div class="form__error" id="error" v-if="error">
            <p>{{error}}</p>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';

    export default {
        name: "SignUp",
        data: () => ({
            nickname: '',
            email: '',
            password: '',
            retypedPassword: '',
            error: null,
            nicknameState: true,
            emailState: true,
            retypedPasswordState: true,
        }),
        computed: {
            ...mapGetters({
                signUpError: 'signUpError',
                users: 'users',
            })
        },
        async mounted() {
            await this.fetchUsers();
        },
        methods: {
            ...mapActions({
                signUp: 'signUp',
                fetchUsers: 'fetchUsers'
            }),
            handlerNicknameBlur() {
                const isExists = this.users.filter(user => user.nickname === this.nickname).length > 0;
                this.nicknameState = !isExists;
            },
            handlerNicknameFocus() {
                this.nicknameState = null;
            },
            handlerEmailBlur() {
                const isExists = this.users.filter(user => user.email === this.email).length > 0;
                this.emailState = !isExists;
            },
            handlerEmailFocus() {
                this.emailState = null;
            },
            handlerPasswordBlur() {
                this.retypedPasswordState = this.password === this.retypedPassword;
            },
            handlerPasswordFocus() {
                this.retypedPasswordState = null;
            },
            async handlerSubmit() {
                this.retypedPasswordState = this.password === this.retypedPassword;

                if (this.nicknameState && this.emailState && this.retypedPasswordState) {
                    await this.signUp({
                        nickname: this.nickname,
                        email: this.email,
                        password: this.password,
                    });

                    if (this.signUpError === null) {
                        await this.$router.push('/login');
                    } else {
                        this.error = this.signUpError;
                    }
                }
            },
            handlerBackClick() {
                this.$router.back();
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../assets/styles/forms";
    @import "../assets/styles/buttons";
</style>