@import "colors";
@import "main";
@import 'mixins';
@import 'images';
@import 'utils';

.buttons-container {
  @extend .center;
  flex-direction: row;

  & > button {
    margin: auto 1vw;
  }
}

.btn-default {
  padding: 5px 10px;

  color: $strawberry;

  border: 2px solid $strawberry;
  border-radius: 5px;
  background-color: $milk;

  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.btn-nav-item {
  height: 5vh;

  font: {
    size: 1.25vw;
  }
  color: $milk;

  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    text-shadow: 1px 1px 4px $strawberry;
  }
}

.btn-back, .btn-save, .btn-create, .btn-go, .btn-finish {
  align-self: center;
  width: 5vw;
  margin: 1vh 1vw;

  font: {
    size: 1.15vw;
    weight: 600;
  }
  color: $strawberry;

  border: none;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.btn-back {
  text-indent: 1vw;
  @include svgBg($backBtn, 1.1vw, left);

  &:hover {
    animation: backMove .75s linear 0s infinite alternate;
  }
}

.btn-save {
  text-indent: 1.2vw;
  @include svgBg($saveBtn, 1.1vw, left);
}

.btn-create {
  text-indent: 1.2vw;
  @include svgBg($createBtn, 1.1vw, left);
}

.btn-go {
  width: 8vw;
  text-indent: 0;
  @include svgBg($nextBtn, 1.1vw, 6.75vw);

  &:hover {
    animation: nextMove .75s linear 0s infinite alternate;
  }
}

.btn-finish {
  text-indent: 1.2vw;
  @include svgBg($finishBtn3, 1.1vw, left);
}

@keyframes backMove {
  0% {
    background-position: left center;
  }
  50% {
    background-position: .2vw center;
  }
  100% {
    background-position: left center;
  }
}

@keyframes nextMove {
  0% {
    background-position: right center;
  }
  50% {
    background-position: 6.55vw center;
  }
  100% {
    background-position: right center;
  }
}