button,
input,
textarea,
select {
  font-family: "Bookman Old Style", serif;
}
button, button:active, button:focus,
input,
input:active,
input:focus,
textarea,
textarea:active,
textarea:focus,
select,
select:active,
select:focus {
  outline: none;
}

button {
  cursor: pointer;
}
button, button:active, button:focus {
  border: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

.center, .buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-center {
  align-self: center;
}

.align-start {
  align-self: flex-start;
}

.icon-rounded {
  border-radius: 50%;
}

.d-none {
  display: none;
}

.buttons-container {
  flex-direction: row;
}
.buttons-container > button {
  margin: auto 1vw;
}

.btn-default {
  padding: 5px 10px;
  color: #d8412f;
  border: 2px solid #d8412f;
  border-radius: 5px;
  background-color: #fcfdfe;
  cursor: pointer;
}
.btn-default:hover {
  transform: scale(1.1);
}

.btn-nav-item {
  height: 5vh;
  font-size: 1.25vw;
  color: #fcfdfe;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.btn-nav-item:hover {
  text-shadow: 1px 1px 4px #d8412f;
}

.btn-back, .btn-save, .btn-create, .btn-go, .btn-finish {
  align-self: center;
  width: 5vw;
  margin: 1vh 1vw;
  font-size: 1.15vw;
  font-weight: 600;
  color: #d8412f;
  border: none;
  cursor: pointer;
}
.btn-back:hover, .btn-save:hover, .btn-create:hover, .btn-go:hover, .btn-finish:hover {
  transform: scale(1.1);
}

.btn-back {
  text-indent: 1vw;
  background: transparent url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' version='1.1' width='512' height='512' x='0' y='0' viewBox='0 0 447.243 447.243' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='M420.361,192.229c-1.83-0.297-3.682-0.434-5.535-0.41H99.305l6.88-3.2c6.725-3.183,12.843-7.515,18.08-12.8l88.48-88.48 c11.653-11.124,13.611-29.019,4.64-42.4c-10.441-14.259-30.464-17.355-44.724-6.914c-1.152,0.844-2.247,1.764-3.276,2.754 l-160,160C-3.119,213.269-3.13,233.53,9.36,246.034c0.008,0.008,0.017,0.017,0.025,0.025l160,160 c12.514,12.479,32.775,12.451,45.255-0.063c0.982-0.985,1.899-2.033,2.745-3.137c8.971-13.381,7.013-31.276-4.64-42.4 l-88.32-88.64c-4.695-4.7-10.093-8.641-16-11.68l-9.6-4.32h314.24c16.347,0.607,30.689-10.812,33.76-26.88 C449.654,211.494,437.806,195.059,420.361,192.229z' fill='%23d8412f' data-original='%23000000' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") left center no-repeat;
  background-size: 1.1vw;
}
.btn-back:hover {
  animation: backMove 0.75s linear 0s infinite alternate;
}

.btn-save {
  text-indent: 1.2vw;
  background: transparent url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' version='1.1' width='512' height='512' x='0' y='0' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cg%3E%3Cpath d='M305,148c11.046,0,20-8.954,20-20V90c0-11.046-8.954-20-20-20c-11.046,0-20,8.954-20,20v38 C285,139.046,293.954,148,305,148z' fill='%23d8412f' data-original='%23000000' style='' class=''/%3E%3Cpath d='M492,352c11.046,0,20-8.954,20-20V102c0-5.304-2.107-10.392-5.858-14.142l-82-82C420.392,2.107,415.304,0,410,0H80 C35.888,0,0,35.888,0,80v352c0,44.112,35.888,80,80,80h352c44.112,0,80-35.888,80-80c0-11.046-8.954-20-20-20 c-11.046,0-20,8.954-20,20c0,22.056-17.944,40-40,40V312c0-11.046-8.954-20-20-20H100c-11.046,0-20,8.954-20,20v160 c-22.056,0-40-17.944-40-40V80c0-22.056,17.944-40,40-40v118c0,33.084,26.916,60,60,60h201c33.084,0,60-26.916,60-60V40h0.716 L472,110.284V332C472,343.046,480.954,352,492,352z M120,332h272v140H120V332z M361,158c0,11.028-8.972,20-20,20H140 c-11.028,0-20-8.972-20-20V40h241V158z' fill='%23d8412f' data-original='%23000000' style='' class=''/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") left center no-repeat;
  background-size: 1.1vw;
}

.btn-create {
  text-indent: 1.2vw;
  background: transparent url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' version='1.1' width='512' height='512' x='0' y='0' viewBox='0 0 480.054 480.054' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='M304.036,256.017h-32v-32c0-17.673-14.327-32-32-32c-17.673,0-32,14.327-32,32v32h-32c-17.673,0-32,14.327-32,32 c0,17.673,14.327,32,32,32h32v32c0,17.673,14.327,32,32,32c17.673,0,32-14.327,32-32v-32h32c17.673,0,32-14.327,32-32 C336.036,270.344,321.709,256.017,304.036,256.017z' fill='%23d8412f' data-original='%23000000' style='' class=''/%3E%3C/g%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='M424.676,107.377l-84-84c-12.087-11.95-27.667-19.74-44.48-22.24c-2.66-0.723-5.403-1.1-8.16-1.12h-176 c-43.29-0.893-79.107,33.477-80,76.767c-0.022,1.078-0.022,2.156,0,3.233v321.12c-0.728,42.851,33.42,78.179,76.271,78.906 c1.243,0.021,2.486,0.012,3.729-0.026h256c48,0,77.92-30.24,80-80v-236.16c0,0,0-1.44,0-2.08 C447.591,141.302,439.216,121.799,424.676,107.377z M318.596,85.777l44.8,44h-44.8V85.777z M384.036,398.897 c0,15.2-3.84,17.12-16,17.12h-254.88c-12.96,0-16-4.16-17.12-16v-320c0-9.76,3.2-16,16-16h144v96c0,17.673,14.327,32,32,32h96 V398.897z' fill='%23d8412f' data-original='%23000000' style='' class=''/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") left center no-repeat;
  background-size: 1.1vw;
}

.btn-go {
  width: 8vw;
  text-indent: 0;
  background: transparent url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' version='1.1' width='512' height='512' x='0' y='0' viewBox='0 0 447.243 447.243' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg transform='matrix(-1,1.2246467991473532e-16,-1.2246467991473532e-16,-1,447.24222564697266,447.2415199279785)'%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='M420.361,192.229c-1.83-0.297-3.682-0.434-5.535-0.41H99.305l6.88-3.2c6.725-3.183,12.843-7.515,18.08-12.8l88.48-88.48 c11.653-11.124,13.611-29.019,4.64-42.4c-10.441-14.259-30.464-17.355-44.724-6.914c-1.152,0.844-2.247,1.764-3.276,2.754 l-160,160C-3.119,213.269-3.13,233.53,9.36,246.034c0.008,0.008,0.017,0.017,0.025,0.025l160,160 c12.514,12.479,32.775,12.451,45.255-0.063c0.982-0.985,1.899-2.033,2.745-3.137c8.971-13.381,7.013-31.276-4.64-42.4 l-88.32-88.64c-4.695-4.7-10.093-8.641-16-11.68l-9.6-4.32h314.24c16.347,0.607,30.689-10.812,33.76-26.88 C449.654,211.494,437.806,195.059,420.361,192.229z' fill='%23d8412f' data-original='%23000000' style='' class=''/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") 6.75vw center no-repeat;
  background-size: 1.1vw;
}
.btn-go:hover {
  animation: nextMove 0.75s linear 0s infinite alternate;
}

.btn-finish {
  text-indent: 1.2vw;
  background: transparent url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' version='1.1' width='512' height='512' x='0' y='0' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='m215 492c0 11.046875-8.953125 20-20 20h-115c-44.113281 0-80-35.886719-80-80v-352c0-44.113281 35.886719-80 80-80h245.890625c44.109375 0 80 35.886719 80 80v212c0 11.046875-8.957031 20-20 20-11.046875 0-20-8.953125-20-20v-212c0-22.054688-17.945313-40-40-40h-245.890625c-22.054688 0-40 17.945312-40 40v352c0 22.054688 17.945312 40 40 40h115c11.046875 0 20 8.953125 20 20zm235.640625-166.261719c-8.980469-6.429687-21.472656-4.359375-27.902344 4.617188l-98.582031 137.703125c-2.691406 3.121094-6.066406 3.792968-7.871094 3.914062-1.867187.121094-5.476562-.113281-8.574218-3.0625l-63.820313-61.28125c-7.964844-7.648437-20.625-7.394531-28.277344.574219-7.652343 7.96875-7.394531 20.628906.574219 28.277344l63.882812 61.34375c9.570313 9.105469 22.339844 14.175781 35.480469 14.175781 1.128907 0 2.261719-.039062 3.394531-.113281 14.3125-.953125 27.675782-7.914063 36.664063-19.101563.230469-.285156.457031-.582031.671875-.882812l98.980469-138.261719c6.429687-8.980469 4.363281-21.472656-4.621094-27.902344zm-144.75-205.738281h-206c-11.046875 0-20 8.953125-20 20s8.953125 20 20 20h206c11.042969 0 20-8.953125 20-20s-8.957031-20-20-20zm20 100c0-11.046875-8.957031-20-20-20h-206c-11.046875 0-20 8.953125-20 20s8.953125 20 20 20h206c11.042969 0 20-8.953125 20-20zm-226 60c-11.046875 0-20 8.953125-20 20s8.953125 20 20 20h125.109375c11.046875 0 20-8.953125 20-20s-8.953125-20-20-20zm0 0' fill='%23d8412f' data-original='%23000000' style='' class=''/%3E%3C/g%3E%3C/svg%3E%0A") left center no-repeat;
  background-size: 1.1vw;
}

@keyframes backMove {
  0% {
    background-position: left center;
  }
  50% {
    background-position: 0.2vw center;
  }
  100% {
    background-position: left center;
  }
}
@keyframes nextMove {
  0% {
    background-position: right center;
  }
  50% {
    background-position: 6.55vw center;
  }
  100% {
    background-position: right center;
  }
}

/*# sourceMappingURL=buttons.css.map */
