$milk: #fcfdfe;
$milk-translucent: #fcfdfe77;
$granola: #f5ca99;
$granola-translucent: #f5ca991a;
$papaya: #fe7a47;
$strawberry: #d8412f;
$strawberry-translucent: #d8412f22;

$light-gray: #999;
$light-gray-translucent: #9995;

$green: #2ed8b3;
$green-translucent: #2ed8b3aa;
$blue: #2e8fd8;
$blue-translucent: #2e8fd8aa;