@import "colors";
@import "main";
@import "utils";
@import "mixins";
@import "images";

input, textarea, select {
  padding-left: .5vw;

  border: 1px solid $light-gray-translucent;
  border-radius: 5px;
}

input, select {
  height: 3.5vh;
}

textarea {
  min-height: 20vh;
  resize: none;
}

select {
  padding-top: .5vh;
}

option {
  width: max-content;
  color: black;

  &:checked {
    color: $milk;
    background-color: $papaya;
  }
}

.form {
  min-width: 40vw;
  max-width: 70vw;
  padding: 2vh 2vw;
  color: $strawberry;

  background-color: $milk;
  box-shadow: 0 0 5px $strawberry;
  border-radius: 20px;

  &__container {
    @extend .center;
    @extend .full-screen;
    flex-direction: column;

    background-color: $granola-translucent;

    &--with-header {
      height: 91vh;
    }
  }

  &__title {
    min-width: 40vw;
    max-width: 70vw;
    margin: 0 auto 2vh;

    font: {
      size: 2vw;
      weight: bold;
    }
    color: $strawberry;
    text-align: center;
    line-height: 6vh;
  }

  &__items {
    max-height: 70vh;
    margin-bottom: 1vh;

    overflow-y: scroll;
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin: 2vh auto;

    &:last-child {
      margin-bottom: .5vh;
    }

    &-label {
      margin-bottom: .5vh;
      font: {
        size: 1.1vw;
        weight: bold;
      }
    }

    &-field {}
  }

  &__list {
    margin: .2vh 0 0 1vw;

    &-item {
      max-width: 35vw;
      padding: 1vh 1vw;
      margin: 1vh auto;
      box-shadow: 1px 1px 3px $strawberry;
      border-radius: 5px;

      &:hover {
        transform: scale(1.005);
      }
    }
  }

  &__error {
    margin-top: 2vh;
    text-indent: 2vw;
    @include svgBg($warning, 1.5vw, left);

    &--inline {
      margin-top: .25vw;
      margin-bottom: 0;

      text-indent: 1.25vw;
      font-size: .75vw;
      @include svgBg($warning, .8vw, left);
    }
  }
}
