button,
input,
textarea,
select {
  font-family: "Bookman Old Style", serif;
}
button, button:active, button:focus,
input,
input:active,
input:focus,
textarea,
textarea:active,
textarea:focus,
select,
select:active,
select:focus {
  outline: none;
}

button {
  cursor: pointer;
}
button, button:active, button:focus {
  border: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.full-screen, .form__container {
  width: 100vw;
  height: 100vh;
}

.center, .form__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-center {
  align-self: center;
}

.align-start {
  align-self: flex-start;
}

.icon-rounded {
  border-radius: 50%;
}

.d-none {
  display: none;
}

input, textarea, select {
  padding-left: 0.5vw;
  border: 1px solid #9995;
  border-radius: 5px;
}

input, select {
  height: 3.5vh;
}

textarea {
  min-height: 20vh;
  resize: none;
}

select {
  padding-top: 0.5vh;
}

option {
  width: max-content;
  color: black;
}
option:checked {
  color: #fcfdfe;
  background-color: #fe7a47;
}

.form {
  min-width: 40vw;
  max-width: 70vw;
  padding: 2vh 2vw;
  color: #d8412f;
  background-color: #fcfdfe;
  box-shadow: 0 0 5px #d8412f;
  border-radius: 20px;
}
.form__container {
  flex-direction: column;
  background-color: #f5ca991a;
}
.form__container--with-header {
  height: 91vh;
}
.form__title {
  min-width: 40vw;
  max-width: 70vw;
  margin: 0 auto 2vh;
  font-size: 2vw;
  font-weight: bold;
  color: #d8412f;
  text-align: center;
  line-height: 6vh;
}
.form__items {
  max-height: 70vh;
  margin-bottom: 1vh;
  overflow-y: scroll;
}
.form__item {
  display: flex;
  flex-direction: column;
  margin: 2vh auto;
}
.form__item:last-child {
  margin-bottom: 0.5vh;
}
.form__item-label {
  margin-bottom: 0.5vh;
  font-size: 1.1vw;
  font-weight: bold;
}
.form__list {
  margin: 0.2vh 0 0 1vw;
}
.form__list-item {
  max-width: 35vw;
  padding: 1vh 1vw;
  margin: 1vh auto;
  box-shadow: 1px 1px 3px #d8412f;
  border-radius: 5px;
}
.form__list-item:hover {
  transform: scale(1.005);
}
.form__error {
  margin-top: 2vh;
  text-indent: 2vw;
  background: transparent url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' version='1.1' width='512' height='512' x='0' y='0' viewBox='0 0 286.054 286.054' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath style='' d='M143.027,0C64.04,0,0,64.04,0,143.027c0,78.996,64.04,143.027,143.027,143.027 c78.996,0,143.027-64.022,143.027-143.027C286.054,64.04,222.022,0,143.027,0z M143.027,259.236 c-64.183,0-116.209-52.026-116.209-116.209S78.844,26.818,143.027,26.818s116.209,52.026,116.209,116.209 S207.21,259.236,143.027,259.236z M143.036,62.726c-10.244,0-17.995,5.346-17.995,13.981v79.201c0,8.644,7.75,13.972,17.995,13.972 c9.994,0,17.995-5.551,17.995-13.972V76.707C161.03,68.277,153.03,62.726,143.036,62.726z M143.036,187.723 c-9.842,0-17.852,8.01-17.852,17.86c0,9.833,8.01,17.843,17.852,17.843s17.843-8.01,17.843-17.843 C160.878,195.732,152.878,187.723,143.036,187.723z' fill='%23d8412f' data-original='%23e2574c'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") left center no-repeat;
  background-size: 1.5vw;
}
.form__error--inline {
  margin-top: 0.25vw;
  margin-bottom: 0;
  text-indent: 1.25vw;
  font-size: 0.75vw;
  background: transparent url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' version='1.1' width='512' height='512' x='0' y='0' viewBox='0 0 286.054 286.054' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath style='' d='M143.027,0C64.04,0,0,64.04,0,143.027c0,78.996,64.04,143.027,143.027,143.027 c78.996,0,143.027-64.022,143.027-143.027C286.054,64.04,222.022,0,143.027,0z M143.027,259.236 c-64.183,0-116.209-52.026-116.209-116.209S78.844,26.818,143.027,26.818s116.209,52.026,116.209,116.209 S207.21,259.236,143.027,259.236z M143.036,62.726c-10.244,0-17.995,5.346-17.995,13.981v79.201c0,8.644,7.75,13.972,17.995,13.972 c9.994,0,17.995-5.551,17.995-13.972V76.707C161.03,68.277,153.03,62.726,143.036,62.726z M143.036,187.723 c-9.842,0-17.852,8.01-17.852,17.86c0,9.833,8.01,17.843,17.852,17.843s17.843-8.01,17.843-17.843 C160.878,195.732,152.878,187.723,143.036,187.723z' fill='%23d8412f' data-original='%23e2574c'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") left center no-repeat;
  background-size: 0.8vw;
}

/*# sourceMappingURL=forms.css.map */
