@import "./colors";

.info {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $milk;
  }

  &-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    max-height: 80vh;
    padding: 0 4vw;
    overflow-y: scroll;
  }

  &-header {
    margin-bottom: 3vh;

    font: {
      size: 1.75vw;
      weight: bold;
    }
    color: $strawberry;
    text-align: center;
  }

  &-item {
    $item: &;
    display: flex;
    flex-direction: row;
    margin: 2vh 0;
    padding: 2vh 1vw;

    color: #d8412fdd;
    background: linear-gradient(to top, #f5ca9922, $milk);
    box-shadow: 2px 2px 2px #f5ca9944;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    &:hover {
      transform: scale(1.02);
      background: linear-gradient(to top, #f5ca9944, $milk);
      box-shadow: 2px 2px 2px #f5ca9977;
    }

    &-name {
      width: 12vw;
      font-weight: bold;
    }

    &-value {
      width: 50vw;
      li {
        margin-bottom: 2vh;
      }
    }
  }
}