.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fcfdfe;
}
.info-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  max-height: 80vh;
  padding: 0 4vw;
  overflow-y: scroll;
}
.info-header {
  margin-bottom: 3vh;
  font-size: 1.75vw;
  font-weight: bold;
  color: #d8412f;
  text-align: center;
}
.info-item {
  display: flex;
  flex-direction: row;
  margin: 2vh 0;
  padding: 2vh 1vw;
  color: #d8412fdd;
  background: linear-gradient(to top, #f5ca9922, #fcfdfe);
  box-shadow: 2px 2px 2px #f5ca9944;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.info-item:hover {
  transform: scale(1.02);
  background: linear-gradient(to top, #f5ca9944, #fcfdfe);
  box-shadow: 2px 2px 2px #f5ca9977;
}
.info-item-name {
  width: 12vw;
  font-weight: bold;
}
.info-item-value {
  width: 50vw;
}
.info-item-value li {
  margin-bottom: 2vh;
}

/*# sourceMappingURL=info.css.map */
