@import "colors";

button,
input,
textarea,
select {
    font-family: "Bookman Old Style", serif;

    &, &:active, &:focus {
        outline: none;
    }
}

button {
    cursor: pointer;

    &, &:active, &:focus {
        border: none;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

