input, textarea, select {
  font-family: "Bookman Old Style", sans-serif;
  padding: 2px 5px;
  border: 2px solid #ccc;
  border-radius: 3px;
}

textarea {
  resize: none;
}

button,
button:active,
button:focus {
  outline: none;
}

/*# sourceMappingURL=main.css.map */
