@mixin bg($imgName, $size: contain, $left: center) {
  $fullPath: '../../../public/img/icons/' + $imgName + '.png';

  background: transparent url($fullPath) $left center no-repeat;
  background-size: $size;
}

@mixin svgBg($svgCode, $size: contain, $left: center) {
  background: transparent url($svgCode) $left center no-repeat;
  background-size: $size;
}