.tabs {
  display: flex;
  flex-direction: row;
  width: 34vw;
  height: 5vh;
  margin: 2vh auto 1vh;
  cursor: pointer;
}

.tab {
  width: 17vw;
  height: 5vh;
  line-height: 5vh;
  text-align: center;
}
.tab-content {
  margin: 2vh auto 1vh;
  align-self: center;
}
.tab--selected {
  font-weight: bold;
  color: #d8412f;
  box-shadow: 0 3px 2px -2px #d8412f;
}
.tab--disabled {
  background-color: #9992;
  color: #999;
}

/*# sourceMappingURL=tabs.css.map */
