@import "colors";

.tabs {
  display: flex;
  flex-direction: row;
  width: 34vw;
  height: 5vh;
  margin: 2vh auto 1vh;
  cursor: pointer;
}

.tab {
  width: 17vw;
  height: 5vh;
  line-height: 5vh;
  text-align: center;

  &-content {
    margin: 2vh auto 1vh;
    align-self: center;
  }

  &--selected {
    font-weight: bold;
    color: $strawberry;
    box-shadow: 0 3px 2px -2px $strawberry;
  }

  &--disabled {
    background-color: #9992;
    color: $light-gray;
  }
}