.full-screen {
  width: 100vw;
  height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-center {
  align-self: center;
}

.align-start {
  align-self: flex-start;
}

.icon-rounded {
  border-radius: 50%;
}

.d-none {
  display: none;
}

/*# sourceMappingURL=utils.css.map */
