// size
.full-screen {
  width: 100vw;
  height: 100vh;
}

// flex
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-center {
  align-self: center;
}

.align-start {
  align-self: flex-start;
}

// design
.icon-rounded {
  border-radius: 50%;
}

// display & position
.d-none {
  display: none;
}